
<% if user_signed_in? %>



  <%
  @user = current_user
  @userActivities = last_activities
%>
  <%= render 'users/info_user' %>
  <%= render 'users/activity' %>

<% else %>
  <%= render 'layouts/tour' %>
<% end %>


