<%= form_for(@reading_status_book) do |f| %>
  <% if @reading_status_book.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@reading_status_book.errors.count, "error") %> prohibited this reading_status_book from being saved:</h2>

      <ul>
      <% @reading_status_book.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :type %><br />
    <%= f.text_field :reading_type %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
