<h1>Listing reading_status_books</h1>

<table>
  <tr>
    <th>Type</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @reading_status_books.each do |reading_status_book| %>
  <tr>
    <td><%= reading_status_book.reading_type %></td>
    <td><%= link_to 'Show', reading_status_book %></td>
    <td><%= link_to 'Edit', edit_reading_status_book_path(reading_status_book) %></td>
    <td>
        <%= link_to 'Destroy', reading_status_book, confirm: 'Are you sure?', method: :delete %>
        <%= button_to "delete", reading_status_book, :method=>:delete, :confirm => "Are you sure?" %>
    </td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Reading status book', new_reading_status_book_path %>
