<p id="notice"><%= notice %></p>

<p>
  <b>Type:</b>
  <%= @reading_status_book.reading_type %>
</p>


<%= link_to 'Edit', edit_reading_status_book_path(@reading_status_book) %> |
<%= link_to 'Back', reading_status_books_path %>
