
<div class="divBorder">

  <%= form_for(resource, :as => resource_name,
    :url => registration_path(resource_name),
    :html => { :method => :put }) do |f| %>
    <%= devise_error_messages! %>

    <div class="divModificaProfilo" style="height: 310px;">

      <div class="cabecera">
        Modifica tus datos: <span><%=  @user.username %> </span>
      </div>

      <div class="body">

        <div id="divFotoUsuario" style="float:left">

          <div>
            <% if resource.photo.exists? then %>
              <%= image_tag resource.photo.url(:small), :class=> 'thumbPhotoUser' %>
              <div class="field">
                Cambia tu foto <br/>
                <%= f.file_field :photo, :id => 'divCambiaFoto' %>
              </div>
            <% else %>
              <div class="field">
                Sube tu primera foto <br/>
                <%= f.file_field :photo, :id => 'divCambiaFoto' %>
              </div>
            <% end %>
          </div>


          <div class="cancelaCuenta">
            <h3>Cancelar cuenta</h3>
            <p>¿Nos dejas?</p>
            <p>¡Gracias igualmente!</p>
            <p><%= link_to "Borrar mi cuenta.", registration_path(resource_name), :data => { :confirm => "¿Estás seguro?" }, :method => :delete %></p>
          </div>

        </div>

        <div class="divModificaDatosUsuario" style="float:right;">

          <div class="field">
            <%= f.label :username, 'Nombre Público' %>
            <%= f.text_field :username,:title => "No puedes cambiar el nombre de usuario", :disabled => true, :class => 'campoRelleno' %>
          </div>

          <div class="field">
            <%= f.label :name, 'Nombre y Apellidos' %>
            <%= f.text_field :name, :class => 'campoRelleno' %>
          </div>

          <div class="field">
            <%= f.label :email %>
            <%= f.email_field :email, :disabled => true, :class => 'campoRelleno' %>
          </div>
          
          <div class="field">
            País
            <input class="campoRelleno" disabled="disabled" id="user_username" name="user[username]" size="30" title="No puedes cambiar el país" type="text" value="<%= CountryTypes.first.name %>" />
          </div>
          
          <div class="field">
            Ciudad residencia
            <%= f.select(:city_type_id,
              CityType.all.collect {|p| [ p.name, p.id ] },
              {:prompt => 'Selecciona tu ciudad'},:id => 'flechaSelect',:class => 'campoRelleno')%>
          </div>

          <div class="field">
            Bar favorito
            <%= f.select(:locations_id,
              Location.all.collect {|p| [ p.name, p.id ] },
              {:prompt => 'Selecciona tu café favorito'},:id => 'flechaSelect',:class => 'campoRelleno')%>
          </div>

        </div>

      </div>

    </div>

  <% if @user.provider != 'facebook' %>

  <div class="divModificaProfilo" style="min-height: 100px;">
      <div class="cabecera">
        Para modificar los datos, introduce tu contraseña actual
      </div>
      <div class="body">
        <div class="divModificaDatosUsuario">

          <div class="field">
            <%= f.label :current_password, 'Contraseña actual' %>
            <%= f.password_field :current_password,:placeholder => "necesaria para guardar cambios", :class => 'campoRelleno' %>
          </div>
        </div>
      </div>

    </div>

    <div class="divModificaProfilo">

      <div class="cabecera">
        Cambiar Contraseña
      </div>

      <div class="body"  style="text-align: center">
        <div class="divModificaDatosUsuario">
          <div class="field">
            <%= f.label :password, 'Nueva contraseña'  %>
            <%= f.password_field :password, :autocomplete => "off", :class => 'campoRelleno' %>
          </div>

          <div class="field">
            <%= f.label :password_confirmation, 'Repetir contraseña' %>
            <%= f.password_field :password_confirmation, :placeholder => "confirme contraseña",:class => 'campoRelleno' %>
          </div>

        </div>
      </div>

    </div>

  <% end %>

  <div class="divModificaProfilo" style="min-height: 30px;">
      <div class="body">
        <div class="divModificaDatosUsuario" style="text-align: center; width: 100%;">
          <% if @user.provider != 'facebook' %>
          <div class="field" style="margin:20px;">
              <span>Debes introducir la contraseña actual para cambiar tus datos</span>
          </div>
          <% end %>
          <div class="field" style="margin:20px;">
            <%= link_to "Cancelar", :back, :class => 'campoAnular' %>
            <%= f.submit "Guardar Cambios", :class => 'campoAccion' %>
          </div>

        </div>
      </div>

    </div>

  <%end%> <!-- AQUI VA end CUANDO SE BORRE EL CÓDIGO DE ABAJO -->

</div>
