<div class="divBorder">
  <div class="divDatosRegistro primerRegistro">
    <div class="cabecera">
      <span>  Quiero crear mi cuenta en Book2Drink</span>
      <div class="right">
        <%- if controller_name != 'sessions' %>
          <%= link_to "Ya tengo mi cuenta", new_session_path(resource_name) %><br/>
        <% end -%>

      </div>
    </div>

    <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
      <% if !resource.errors.empty? %>
        <div class="body" style="min-height: 20px;">
          <%= devise_error_messages! %>
        </div>
      <%end %>

      <div class="body" style="height: 300px;">


        <ul class="field" style="margin-top: 23px; margin-left: 10px">
          <li class="fieldList">
            <%= f.label :username, 'Nombre Usuario', :class => 'campoTitulo' %>
            <%= f.text_field :username, :class => 'campoRelleno',
              :style => 'float:right; margin-right:60px' %>
          </li>
          <li class="fieldList">
            <%= f.label :name, 'Nombre Público', :class => 'campoTitulo' %>
            <%= f.text_field :name, :class => 'campoRelleno',
              :style => 'float:right; margin-right:60px' %>
          </li>
          <li class="fieldList">
            <%= f.label :email,'Email', :class => 'campoTitulo' %>
            <%= f.email_field :email, :class => 'campoRelleno',
              :style => 'float:right; margin-right:60px' %>
          </li>
          <li class="fieldList">
            <%= f.label :password, 'Contraseña' %>
            <%= f.password_field :password, :placeholder => 'mínimo 8 caracteres' ,:class => 'campoRelleno',
              :style => 'float:right; margin-right:60px' %>
          </li>
          <li class="fieldList">
            <%= f.label :password_confirmation, 'Repite contraseña' %>
            <%= f.password_field :password_confirmation,
              :placeholder => 'confirma contraseña' ,
              :class => 'campoRelleno',
              :style => 'float:right; margin-right:60px' %>
          </li>

          <li class="fieldList" style="float:left; width: 260px; margin-top: 35px; text-align: center; font-size: 10px;">
            <p>
              <%= check_box :user,'term', {:style => "margin-left:0px"}, true, false %>
              <%= link_to 'Acepto los Términos y Condiciones de uso', "https://s3-eu-west-1.amazonaws.com/book2drinkpro/AVISOLEGAL+Y+PRIVACIDAD.pdf", target: "_blank"%></p>
          </li>

          <li class="fieldList" style="float:right; margin-top: 30px; margin-right: 60px">
            <%= f.submit "Crea mi cuenta", :class => 'campoAccion', :style => 'width: 240px' %>
          </li>

        </ul>
      </div>
    <% end %>


  </div>
  <div id="divEspacio">  </div>
  <div class="divDatosRegistro">
    <div class="cabecera">
      <span>Quiero entrar con mi cuenta de facebook</span>
    </div>

    <div class="body" style="text-align: center">
      <div style="margin-top:25px">
        <%= link_to (image_tag 'fb_login_button.jpg'), user_omniauth_authorize_path(:facebook) %>
      </div>

    </div>

  </div>

</div>