<%= form_for(@city_type) do |f| %>
  <% if @city_type.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@city_type.errors.count, "error") %> prohibited this city_type from being saved:</h2>

      <ul>
      <% @city_type.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

	<div class="field">Nombre de la ciudad:  <%= text_field(:city_type, :name, :class => 'round') %></div>
	<div class="field">País de la ciudad:  FIJO_ESPAÑA</div>
	

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
