<h1>Listing city_types</h1>

<table>
  <tr>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @city_types.each do |city_type| %>
  <tr>
    <td>Ciudad: <%= city_type.name %>		<td><%= link_to 'Show', city_type %>
    <%= link_to 'Edit', edit_city_type_path(city_type) %>
    <%= link_to 'Destroy', city_type, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New City type', new_city_type_path %>
