<div class="divBorder">
  <span>Consola de administración de Book2Drink</span>
  <ul>
    <li><%= link_to "Administración usuarios", admin_users_url %> </li>
    <li><%= link_to "Administración locales", admin_locations_url %> </li>
    <li><%= link_to "Administración libros", admin_isbninfos_url %> </li>
  </ul>
</div>