<div class="divBorder">

  <% @isbninfos.each do |isbninfo| %>
    <div class="libroAdmin" style="width: auto;">
      <%= link_to isbninfo.title, isbninfo %> de: <%= isbninfo.author %>
      ISBN: <%= isbninfo.isbn13 %>
    </div>
  <% end %>
</div>