<div class="templatemo_box">
  <h2><span></span>Lista de bares de tu ciudad</h2>
  <div class="body">
    <table>
      <tr>
        <th></th>
        <th></th>
        <th></th>
      </tr>

      <% @locations.each do |location| %>
        <tr>

          <td><h4><%= link_to location.name, location %></h4></td>

        </tr>
      <% end %>
    </table>

  </div>
  <div class="box_bottom"><span></span></div>
</div>



