<div class="templatemo_box">
  <h2><span></span>Listado de usuarios</h2>
  <div class="body">


    <table border="1">
      <tr>
        <th>Id</th>
        <th>Usuario</th>
        <th>Nombre</th>
        <th>Email</th>
        <th>Ciudad</th>
        <th>Bar</th>
        <th></th>
      </tr>

      <% @users.each do |user| %>
        <tr>
          <td><%=user.id%></td>
          <td><%=user.username%></td>
          <td><%=user.name %> <%=user.surname%></td>
          <td><%=user.email%></td>

          <% @city_type = CityType.find(1) %>
          <td>
            <%
            if user.city_type_id
              @city = CityType.find(user.city_type_id)
            %>
              <%= @city.name %> (<%=user.city_type_id%>)
            <% end %>
          </td>
          <td>
            <%
            if user.locations_id
              @location = Location.find(user.locations_id)
            %>
              <%= @location.name %> (<%= @location.id %>)
            <% end %>
          </td>
          <td> <%= link_to 'Show', user %> <%= link_to 'Edit', edit_user_path(user) %> <%= link_to 'Destroy', user, confirm: 'Are you sure?', method: :delete %></td>
        </tr>
      <% end %>
    </table>

    <br />

    <%= link_to 'New User', new_user_path %>



  </div>
  <div class="box_bottom"><span></span></div>
</div>

