<div class="divBorder divInvitacionUsuario">
  <div id="mensajeBienvenida">
    <div id="mensajeBienvenida_texto" >
      <p><b>LEE y COMPARTE</b> tus opiniones en <b>book2drink.com</b>.</p>
      <p><b>Conoce</b> nuevos lectores y <b>disfruta</b> con los amigos en tu <b>bar favorito</b>.</p>
      <p>Entra gratis, <b>CREA UNA ESTANTERÍA</b> y organiza tus libros.</p>
    </div>
    <div>
      <span><%= link_to 'REGÍSTRATE GRATIS',
          new_user_registration_path,
          :id => 'mensajeBienvenida_button' %></span>
    </div>
    <div id="mensajeBienvenida_comofunciona" >
     <%= link_to '¡Descubre como funciona!',
       'http://book2drink.com',
       :onclick => "window.open(this.href, 'Como funciona', 'height=600, width=600'); return false;" %>
    </div>

  </div>
</div>
