<div class="divBorder" style="float: left;">
    <ul>
      <li><%= link_to "Mis donaciones", edit_user_path(@user.id)%></li>
      <li><%= link_to "Mis temporales", edit_user_path(@user.id)%></li>
      <li><%= link_to "Mi librería virtual", user_libraries_path %></li>
      <li><%= link_to "Mis eventos", isbninfos_path%></li>
    </ul>
</div>