<div class="divBorder">
  <div class="divMisActividades">
    <div class="cabecera">
      Actividad reciente del lector
    </div>
    <div class="body">
      <% @userActivities.each do |activity| %>
        <div class="activity">

          <%
          if activity.activity_type_id == Book2Drink::Application.config.activitytypecommentbook then
            #Obtengo el comentario del libro
            comment = get_comment_book(activity.reference)
            book = comment.isbninfo
          %>
            <p>
              <% if book.photo.exists? then %>
                  <%= image_tag book.photo.url(:thumb), :class=> 'thumbPhotoIsbnTiny', :style => 'padding: 0px 5px 0px 0px; float: left' %>
                <% else %>
                  <%= image_tag "nophoto.jpg", :alt => 'isbninfo.title', :class=> 'thumbPhotoIsbnTiny', :style => 'padding: 0px 5px 0px 0px; float: left' %>
                <% end %>
              <%= @user.name %>
              ha añadido el comentario "<%= comment.commenttext %>"
              al libro <%= link_to book.title, book %> 
                  [<%=  distance_of_time_in_words(activity.created_at, Time.now) %>]
            </p>
          <%
          else if activity.activity_type_id == Book2Drink::Application.config.activitytypecommentlocation then
              #obtengo el comentario y el bar
              comment = get_comment_location(activity.reference)
              location = comment.location
            %>
              <p>
                <%= @user.name %>
                ha añadido el comentario "<%= comment.commenttext %>"
                al bar <%= link_to location.name, location %>
                [<%=  distance_of_time_in_words(activity.created_at, Time.now) %>]
                hace <%= activity.created_at %>]
              </p>
            <%
            else
              #obtengo el libro que ha añadido
              isbninfo = get_info_libro(activity.reference)
            %>
              <p>
                <% if isbninfo.photo.exists? then %>
                  <%= image_tag isbninfo.photo.url(:thumb), :class=> 'thumbPhotoIsbnTiny', :style => 'padding: 0px 5px 0px 0px; float: left' %>
                <% else %>
                  <%= image_tag "nophoto.jpg", :alt => 'isbninfo.title', :class=> 'thumbPhotoIsbnTiny', :style => 'padding: 0px 5px 0px 0px; float: left' %>
                <% end %>
                <%= @user.name %> ha añadido el libro <%= link_to isbninfo.title, isbninfo %> a su librería virtual 
                            [<%=  distance_of_time_in_words(activity.created_at, Time.now) %>]
              </p>
            <%
            end
          end

        %>


        </div>
      <% end %>
    </div>


  </div>
</div>