<div class="templatemo_box">
  <h2><span></span>Edita tus datos personales</h2>
  <div class="body">
    <%= form_for(@user) do |f| %>
      <% if @user.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>
                                  asd
          <ul>
            <% @user.errors.full_messages.each do |msg| %>
              <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
      <% end %>

      <div class="field">
        <%= f.label :username %><br />
        <%= f.text_field :username %>
      </div>
      <div class="field">
        <%= f.label :name %><br />
        <%= f.text_field :name %>
      </div>
      <div class="field">
        <%= f.label :surname %><br />
        <%= f.text_field :surname %>
      </div>
      <div class="field">
        <%= f.label :email %><br />
        <%= f.text_field :email %>
      </div>
      <div class="field">
        <%= f.label :password %><br />
        <%= f.password_field :password %>
      </div>
      <div class="field">
        <%= f.label :password_confirmation %><br />
        <%= f.password_field :password_confirmation %>
      </div>
      <td rowspan="8" style="padding: 0px 10px 0px 0px;">

        <% if @user.photo.exists? then %>
          <%= image_tag @user.photo.url(:small), :class=> 'thumbPhotoUser' %>
                                                            Quieres cambiar la foto?
          <%= f.file_field :photo %>
        <% else %>
          <div class="field">
                                                                Sube tu primera foto
            <%= f.file_field :photo %>
          </div>
        <% end %>
      </td>
      <div class="field">
                                              ¿De qué ciudad eres?
        <%= f.select(:city_type_id,
              CityType.all.collect {|p| [ p.name, p.id ] },
              {:prompt => 'Selecciona tu ciudad'})  %>
      </div>

      <div class="field">
                                              ¿A qué bar te quieres apuntar inicialmente?
        <%= f.select(:locations_id,
              Location.all.collect {|p| [ p.name, p.id ] },
              {:prompt => 'Selecciona tu bar inicial'})  %>

      </div>

      <div class="actions">
        <%= f.submit %>
      </div>
    <% end %>

    <%= render 'partials/link_back' %>

  </div>
  <div class="box_bottom"><span></span></div>
</div>



