<div class="divBorder">
  <div class="divMisDatos">
    <div class="cabecera">
      Mis datos: <span><%= @user.username %></span>
    </div>
    <div class="body">
      <div style="float: left;">
        <div id="divFotoUsuario">
          <% if @user.photo.exists? then %>
            <%= image_tag @user.photo.url(:small), :class=> 'thumbPhotoUser' %>
          <% else %>
            <%= image_tag "nophoto.jpg", :alt => 'foo', :class=> 'thumbPhotoUser' %>
          <% end %>
        </div>
      </div>
      <div id="accionesUsuario" style="float: right;">
        <div class="botonAccionInfoUsuario">
          <%= link_to "Mi librería virtual", user_libraries_path %>
        </div>
        <div class="botonAccionInfoUsuario">
          <%= link_to "Modificar perfil", edit_user_registration_path %>
        </div>
      </div>

      <div style="float: right; width: 400px; margin-right: 20px">
        <div id="divNameSurnameUsuario">
          <%= @user.name %>
        </div>
        <div id="divEmailUsuario">
          <%= @user.email %>
        </div>
        <div id="divCiudadUsuario">
          <% if @user.city_type_id != nil
            @city = CityType.find(@user.city_type_id)
          %>
            <%= @city.name %>
          <% else %>
            <%= link_to "¡Elije tu ciudad!", edit_user_registration_path%>
          <% end %>
        </div>
        
        <div id="divLocationUsuario">
          <% if @user.locations_id != nil
            @location = Location.find(@user.locations_id)
          %>
            <%= @location.name %>
          <% else %>
            <%= link_to "¡Apúntate a tu cafe favorito!", edit_user_registration_path%>
          <% end %>
        </div>
      </div>

    </div>
  </div>
</div>