<div class="divUser">
  <div class="izquierda">
    <div class="fotoBook">
      <% if user.photo.exists? then %>
            <%= image_tag user.photo.url(:small), :class=> 'thumbPhotoIsbnSmall' %>
      <% else %>
            <%= image_tag "nophoto.jpg", :alt => 'foo', :class=> 'thumbPhotoIsbnSmall' %>
      <% end %>
    </div>
  </div>
  <div class="derecha">
    <div class="tituloBook">
      <%= link_to user.username, user %>
      <% if user.user_libraries.size > 0 %>
          <span><%= link_to "(" + user.user_libraries.size.to_s + " libros)", public_userlibrary_user_libraries_url(user) %></span>
      <% else %>
          (actualmente no tiene libros)
      <% end %>

    </div>
    <div class="isbnBook">
      <% if user.city_type_id != nil
        city = CityType.find(user.city_type_id)
      %>
        <%= link_to city.name, city %>
      <% else %>
        -
      <% end %>
    </div>
    <div class="isbnBook">
      <% if user.locations_id != nil
        @location = Location.find(user.locations_id)
      %>
              <%= link_to @location.name, @location %>
      <% else %>
        -
      <% end %>
    </div>
  </div>
</div>