<div class="divBorderUsers">

  <div class="divUsers" >
  <!--div id="divBorderListadoLibrosBook2Drink" class="divBorderListadoLibrosBook2Drink" -->


    <div class="cabecera">

      Listado de lectores
    </div>
    <div class="body">
      
      <%= render @users %>
      <%= paginate @users %>
    </div>



  </div>
</div>