<div class="divBorder">
  <div class="divDatosPublicosUsuario">

    <div class="cabecera">
      Página pública del usuario: <span><%= @user.username %></span>
    </div>

    <div class="body">

      <div style="float: left;">
        <div id="divFotoUsuario">
          <% if @user.photo.exists? then %>
            <%= image_tag @user.photo.url(:small), :class=> 'thumbPhotoUser' %>
          <% else %>
            <%= image_tag "nophoto.jpg", :alt => 'foo', :class=> 'thumbPhotoUser' %>
          <% end %>
        </div>
      </div>

      <div id="accionesUsuario" style="float: right;">
        <div class="botonAccionInfoUsuarioPublico">
          <%= link_to "Su Librería", public_userlibrary_user_libraries_url(@user) %>
        </div>
        <div class="botonAccionInfoUsuarioPublico">
          <%= link_to "Su Wishlist", public_userlibrary_user_libraries_path(@user, :mode => 'wished') %>
        </div>
        <!--div class="botonAccionInfoUsuarioPublico">
          Envía mensaje
        </div-->
      </div>

      <div style="float: right; width: 390px;">
        
        <div id="divNameSurnameUsuario">
          <%= @user.name %> <%= @user.surname %>
        </div>
        <!--
        <div id="divEmailUsuario">
        <%= @user.email %>
        </div> -->

        <div id="divCiudadUsuario">
          <% if @user.city_type_id != nil
            @city = CityType.find(@user.city_type_id)
          %>
            <%= @city.name %>
          <% else %>
            No estás en ninguna ciudad,
            <%= link_to "¿Quieres apuntarte a una?", edit_user_registration_path%>
          <% end %>
        </div>

        <div id="divLocationUsuario">
          <% if @user.locations_id != nil
            @location = Location.find(@user.locations_id)
          %>
            <%= @location.name %>
          <% else %>
            No estás en ningún bar,
            <%= link_to "¿Quieres apuntarte a uno?", edit_user_registration_path%>
          <% end %>
        </div>
      </div>

    </div>

  </div>

</div>

<% @userActivities = last_activities_user(@user) %>
<%= render 'users/activity' %>
