<div class="divBorder">
  <div class="divDatosRegistro">

    <div class="cabecera">
      <span>  He olvidado mi contraseña</span>
      <div class="right"><%- if devise_mapping.registerable? && controller_name != 'registrations' %>
          <%= link_to "Quiero crear una nueva cuenta", new_registration_path(resource_name) %><br />
        <% end -%>
      </div>
    </div>

    <div class="body">

      <%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post }) do |f| %>
        <%= devise_error_messages! %>


        <ul class="field">
          <li class="fieldList"><%= f.label :email,'Escribe tu email',
              :class => 'campoTitulo' %> <br/>
            <span>Recibirás un enlace para crear la contraseña nueva</span>
          </li>

          <li class="fieldList"><%= f.email_field :email,
              :class => 'campoRelleno',
              :placeholder => 'tu email en book2drink' %></li>

          <%- if controller_name != 'sessions' %>

          <% end -%>

          <li class="fieldList" style="margin-left:140px"><%= f.submit "Enviar",
              :class => 'campoAccion' %>
          </li>
        </ul>


      <% end %>

    </div>
  </div>
  <div id="divEspacio">  </div>
  <div class="divDatosRegistro">
    <div class="cabecera">
      <span>Quiero entrar con mi cuenta de facebook</span>
    </div>

    <div class="body" style="text-align: center">
      <div style="margin-top:25px">
        <%= link_to (image_tag 'fb_login_button.jpg'), user_omniauth_authorize_path(:facebook) %>
      </div>

    </div>

  </div>

</div>