<% location = event.location %>
<div class="divUser">
  <div class="izquierda">
    <div class="fotoBook">
      <% if event.photo.exists? then %>
        <%= image_tag event.photo.url(:thumb), :class=> 'thumbPhotoIsbnSmall' %>
      <% else %>
        <%= image_tag "nophoto.jpg", :alt => 'foo', :class=> 'thumbPhotoIsbnSmall' %>
      <% end %>
    </div>
  </div>
  <div class="derecha">
    <div class="tituloBook">
      <%= link_to event.name, location_event_path(location, event) %>
    </div>
    <div class="tituloBook">
      <%= link_to location.name, location_path(location) %>
    </div>
    <div class="isbnBook">
      Fecha: <span style="font-weight: bold; font-size: 12px; color: #d99972"><%= event.event_date %></span>
    </div>
  </div>
</div>