<%= stylesheet_link_tag "calendar-win2k-1.css" %>
<%= javascript_include_tag "calendar.js" %>
<%= javascript_include_tag "lang/calendar-en.js" %>
<%= javascript_include_tag "calendar-setup.js" %>

<%= debug @event %>

<div class="templatemo_box">

  <% location = Location.find(@event.location_id) %>
  <h2><span></span>Creación de evento del bar <%= location.name %> </h2>
  <div class="body">
  </div>

  <%= form_for(@event) do |f| %>
    <% if @event.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@event.errors.count, "error") %> prohibited this event from being saved:</h2>

        <ul>
          <% @event.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="field">
      Nombre del evento: <%= f.text_field :name %>
    </div>
    <div class="field">
      Descripción del evento: <%=f.text_area :description,  :rows => 5, :cols => 60 %>
    </div>

    <div class="field">
      Fecha del evento <%= f.datetime_select :event_date %>
    </div>
    <div class="field">
      Prueba de calendario javascript:
      <input type="text" id="testCalendar" />
      <button type="reset" id="f_trigger_b">...</button>
    </div>

    <script type="text/javascript">
      Calendar.setup({
        inputField     :    "testCalendar",      // id of the input field
        ifFormat       :    "%m/%d/%Y %I:%M %p",       // format of the input field
        showsTime      :    true,            // will display a time selector
        button         :    "f_trigger_b",   // trigger for the calendar (button ID)
        singleClick    :    false,           // double-click mode
        step           :    1                // show all years in drop-down boxes (instead of every other year as default)
      });
    </script>


    <div class="field">
      Imagen del evento
      <% if @event.photo.exists? then %>
        <%= image_tag @event.photo.url(:small), :class=> 'thumbPhotoEvent' %>
        Quieres cambiar la foto?
        <%= f.file_field :photo %>
      <% else %>
        <div class="field">
          Sube la foto del libro
          <%= f.file_field :photo %>
        </div>
      <% end %>
    </div>
    <div class="field">
      Activo (inicialmente siempre a 1): <%= f.text_field :active %>
    </div>
    <%= f.hidden_field :location_id, :value => @event.location_id %>
    <div class="actions">
      <%= f.submit %>
    </div>
  <% end %>

  <%= render 'partials/link_back' %>

</div>
<div class="box_bottom"><span></span></div>