<div class="divDatosLibro">
  <div class="cabecera">

      <% if @location != nil %>
        Listado de eventos de <%= link_to @location.name, @location, :id => 'urlWebEnlace' %>
      <% else %>
        Listado de todos los eventos de Book2Drink
      <% end %>
  </div>
  <div class="body">


    <ul class="listadoEventos">

      <% events.each do |event| %>
        <% location = event.location %>
        <li>
          <%= link_to event.event_date, location_event_url(location, event), :class=>"fechaEvento" %>
          <% if event.photo.exists? then %>
            <%= image_tag event.photo.url(:small), :class=> 'thumbPhotoIsbnInfoSmall imageListadoEventos' %>
          <% else %>
            <%= image_tag "nophoto.jpg", :class=> 'thumbPhotoIsbnInfoSmall imageListadoEventos' %>
          <% end %>

          <p style="height: 50px;"><%= link_to event.name, location_event_url(location, event), :class=>"enlaceEventoBar" %></p>
          <p><%= link_to location.name, location %></p>
        </li>

      <% end %>

    </ul>
  </div>
</div>

