<style type="text/css">

</style>

<div class="divBorder">

  <%= render 'lista_eventos', :events => @events %>

  <div class="divUsers" >
    <div class="cabecera">
      
    </div>




  </div>
</div>