<STYLE type="text/css">

  .imageEvento {
    width: 98%;
    height: 300px;
    padding:3px;
    border:1px solid black;
    background-color:white;
  }

  .buddySeguirEvento {
    width: 180px;
    border-width: 1px 0px 1px 0px;
    border-color: #C8C8C8;
    border-style: solid;
    
}
</STYLE>

<div class="divBorder">

  <%= render 'lista_eventos', :events => @events %>

  <div class="divDatosLibro">
    <div class="cabecera">
      <span><%= @event.name %></span>
    </div>
    <div class="body">
      <div style="width: 100%;">

        <table cellpadding="5" cellspacing="5" style="border-width: 1px; border-style: solid;">

          <tr>
            <td colspan="2">
              <% if @event.photo.exists? then %>
                <%= image_tag @event.photo.url(:small), :class=> 'imageEvento' %>
              <% else %>
                <%= image_tag "nophoto.jpg", :alt => 'foo', :class=> 'imageEvento' %>
              <% end %>
            </td>
          </tr>
          <tr>
            <td style="vertical-align: top;">
              <p>
                <%= image_tag "seguir_b2d.png", :class=> 'buddySeguirEvento' %>
              </p>
              <p>
                <div class="etiquetas">Fecha: <span><%= @event.event_date %></span></div>
                <div class="etiquetas">Ciudad: <span><%= CityType.find(@event.location.city_type_id).name %></span></div>
                <div class="etiquetas">Café: <span><%= @event.location.name %></span></div>
              </p>
              
            </td>
            
            <td style="width: 70%; text-align: justify;">
              <%= @event.description %>
            </td>

          </tr>

        </table>

      </div>


    </div>
  </div>

</div>