<div class="divBorder">
  
      <div class="fb-like-box" data-href="http://www.facebook.com/book2drink"
           data-width="200"
           data-height="373"
           data-show-faces="true"
           data-stream="false"
           data-border-color="#C8C8C8"

           data-header="true"></div>
  
</div>

