<h1>Listing activity_types</h1>

<table>
  <tr>
    <th>Type</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @activity_types.each do |activity_type| %>
  <tr>
    <td><%= activity_type.activity_type %></td>
    <td><%= link_to 'Show', activity_type %></td>
    <td><%= link_to 'Edit', edit_activity_type_path(activity_type) %></td>
    <td><%= link_to 'Destroy', activity_type, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Activity type', new_activity_type_path %>
