<% @user_library = current_user.user_libraries.build %>

<%= form_for(@user_library) do |f| %>
  <% if @user_library.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user_library.errors.count, "error") %> prohibited this user_library from being saved:</h2>

      <ul>
        <% @user_library.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <li style="list-style:none;">

    <%= f.hidden_field :user_id, :value => current_user.id %>
    <%= f.hidden_field :isbninfo_id, :value => lIsbnInfoID %>
     <%= f.submit 'Añadir a mi librería', :id => 'botonAñadeLibro' %>
  </li>

<% end %>
