<% isbninfo = Isbninfo.find(user_library.isbninfo_id) %>

<div class="libro">
  <div class="divFotoLibreriaUsuario">

    <% if isbninfo.photo.exists? then %>
      <%= image_tag isbninfo.photo.url(:thumb), :class=> 'thumbPhotoIsbnInfoSmall', :style => 'padding: 3px; float: left' %>
    <% else %>
      <%= image_tag "nophoto.jpg", :alt => 'isbninfo.title', :class=> 'thumbPhotoIsbnInfoSmall', :style => 'padding: 3px; float: left' %>
    <% end %>

  </div>


  <div style="float:right">

    <%= form_for(user_library) do |f| %>
      <% if user_library.favorite %>
        <%= f.hidden_field :favorite, :value => false %>
        <%= f.submit "Comment", :class => 'estilo_boton', :value => 'No Favorito'%>
      <% else %>
        <%= f.hidden_field :favorite, :value => true  %>
        <%= f.submit "Comment", :class => 'estilo_boton', :value => 'Favorito'%>
      <% end %>
    <% end %>

    <%= form_for(user_library) do |f| %>
      <% if user_library.wished %>
        <%= f.hidden_field :wished, :value => false %>
        <%= f.submit "Comment", :class => 'estilo_boton',:value => 'No Deseado'%>
      <% else %>
        <%= f.hidden_field :wished, :value => true %>
        <%= f.submit "Comment", :class => 'estilo_boton',:value => 'Deseado'%>
      <% end %>
    <% end %>

    <%= button_to "Eliminar de librería", user_library, :class => 'estilo_boton',:method=>:delete, :confirm => "Estás seguro?" %>
  </div>

  <div class="divLibreriaUsuarioInfoLibro">
    <span> <%= link_to isbninfo.title, isbninfo %> (<%= isbninfo.isbn13 %>)  </span>
    <p>de <%= isbninfo.author %></p> <br/>

    <div> <%= form_for(user_library) do |f| %>
        <%= f.select(:reading_status_book_id,
          ReadingStatusBook.all.collect {|p| [ p.reading_type, p.id ] },
          {},
          {:onChange => 'this.form.submit();', :id => 'flechaSelect' ,:class => 'estilo_boton'}
        )  %>
      <% end %>
    </div>
    <div class="favoritoLibreriaUsuario">
      <% if user_library.favorite %>
        <%= image_tag "favorite.png", :class => 'iconFavorite', :title => 'Libro favorito' %>
      <% end %>
    </div>
    <div class="deseadoLibreriaUsuario">
      <% if user_library.wished %>
        <%= image_tag "wished.png", :class => 'iconWished', :title => 'Libro deseado' %>
      <% end %>



    </div>
  </div>

</div>