<%= form_for(@user_library) do |f| %>
  <% if @user_library.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user_library.errors.count, "error") %> prohibited this user_library from being saved:</h2>

      <ul>
      <% @user_library.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

	
	<div>
	favorite SI <%= radio_button(:user_library, :favorite, true) %>
			 NO <%= radio_button(:user_library, :favorite, false) %>
	</div>
	<div>
	wished 	SI <%= radio_button(:user_library, :wished, true) %>
			NO <%= radio_button(:user_library, :wished, false) %>
	</div>
	<div>isbninfo_id: <%= text_field(:user_library, :isbninfo_id, :class => 'round') %></div>
	<div>user_id: <%= text_field(:user_library, :user_id, :class => 'round') %></div>
	
	<%= select("user_library", 
		"reading_status_book_id", 
		ReadingStatusBook.all.collect {|p| [ p.reading_type, p.id ] }, 
		{:prompt => 'Estado de lectura'}) %> 
	
	
  	<%= f.submit %>
  
<% end %>





<%= link_to 'Show', @user_library %> |
<%= link_to 'Back', user_libraries_path %>
