<div class="divBorderLibreria">

  <div class="divLibreria">
    <div class="cabecera">

      <% user = current_user %>
      <span> <%= user.username %> tiene <%= @totalUserLibrary %> libros en su librería virtual</span>
      <div class="right">
        <%= link_to "Todos", 	user_user_libraries_path(current_user, :mode => "all") %> |
        <%= link_to "Favoritos", 	user_user_libraries_path(current_user, :mode => "favorites") %> |
        <%= link_to "Deseados", 	user_user_libraries_path(current_user, :mode => "wished") %>
      </div>
    </div>

    <div class="body">
      <%= render @user_libraries %>
      <%= paginate @user_libraries %>
    </div>



  </div>
  <div class="volver"> <%= render 'partials/link_back' %> </div>
</div>