<div class="divBorderLibreria">

  <div class="divLibreria">
    <div class="cabecera">

      <span> <%= @user.username %></span> tiene <%= @totalUserLibrary %> libros en su librería pública
      <div class="right">
        <%= link_to "Todos", 	public_userlibrary_user_libraries_url(:user_id => @user.id, :mode => "all") %>|
        <%= link_to "Favoritos", 	public_userlibrary_user_libraries_url(:user_id => @user.id, :mode => "favorites") %> |
        <%= link_to "Deseados", 	public_userlibrary_user_libraries_url(:user_id => @user.id, :mode => "wished") %>
      </div>
    </div>

    <div class="body">
      <% @user_libraries.each do |user_library| %>

        <% isbninfo = user_library.isbninfo %>

        <div class="libro">
          <div class="divFotoLibreriaUsuario">

            <% if isbninfo.photo.exists? then %>
              <%= image_tag isbninfo.photo.url(:thumb), :class=> 'thumbPhotoIsbnInfoSmall', :style => 'padding: 3px; float: left' %>
            <% else %>
              <%= image_tag "nophoto.jpg", :alt => 'isbninfo.title', :class=> 'thumbPhotoIsbnInfoSmall', :style => 'padding: 3px; float: left' %>
            <% end %>

          </div>

          <div class="divLibreriaUsuarioInfoLibro">
            <span> <%= link_to isbninfo.title, isbninfo %> (<%= isbninfo.isbn13 %>) </span>
            <p>de <%= isbninfo.author %></p> <br/>
            <span>Estado de la lectura: <%= user_library.reading_status_book.reading_type   %> </span>
            <div class="favoritoLibreriaUsuario">
              <% if user_library.favorite %>
                <%= image_tag "favorite.png", :class => 'iconFavorite', :title => 'Libro favorito' %>
              <% end %>
            </div>
            <div class="deseadoLibreriaUsuario">
              <% if user_library.wished %>
                <%= image_tag "wished.png", :class => 'iconWished', :title => 'Libro deseado' %>
              <% end %>



            </div>
          </div>

        </div>





      <% end %>
      <%= paginate @user_libraries %>
    </div>



  </div>
  <div class="volver"> <%= render 'partials/link_back' %> </div>
</div>