<p id="notice"><%= notice %></p>

<p>
  <b>Favorite:</b>
  <%= @user_library.favorite %>
</p>

<p>
  <b>Wished:</b>
  <%= @user_library.wished %>
</p>
<p>
  <b>Isbnid:</b>
  <%= @user_library.isbninfo_id %>
</p>  
<p>
  <b>estado de lectura:</b>
  <%= @user_library.reading_status_book_id %>
</p>  
    

<%= link_to 'Edit', edit_user_library_path(@user_library) %> |
<%= link_to 'Back', user_libraries_path %>
