<%= form_for(@book_type) do |f| %>
  <% if @book_type.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@book_type.errors.count, "error") %> prohibited this book_type from being saved:</h2>

      <ul>
      <% @book_type.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
  
  	<div class="field">Nombre del tipo de libro:  <%= text_field(:book_type, :type, :class => 'round') %></div>
	<%= f.submit %>
  </div>
<% end %>
