<h1>Listing book_types</h1>

<table>
  <tr>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @book_types.each do |book_type| %>
  <tr>
  
  	Tipo de libro: <%= book_type.type %>
  	
	
  
    <td><%= link_to 'Show', book_type %></td>
    <td><%= link_to 'Edit', edit_book_type_path(book_type) %></td>
    <td><%= link_to 'Destroy', book_type, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Book type', new_book_type_path %>
