<%= form_for(@isbninfo) do |f| %>
  <% if @isbninfo.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@isbninfo.errors.count, "error") %> prohibited this book from being saved:</h2>

      <ul>
      <% @isbninfo.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
	<div class="field">
			Introduzca el ISBN 10: <%= text_field(:isbninfo, :isbn10, :class => 'round') %>
	</div>
	<div class="field">
			Introduzca el ISBN 13: <%= text_field(:isbninfo, :isbn13, :class => 'round') %>
	</div>
	<div class="field">
  		Introduzca el título del libro: <%= text_field(:isbninfo, :title, :class => 'round') %>
  	</div>
	<div class="field">
	  		Introduzca el autor: <%= text_field(:isbninfo, :author, :class => 'round') %>
	</div>
	<div class="field">
	  		Introduzca la editorial: <%= text_field(:isbninfo, :editorial, :class => 'round') %>
	</div>
	<div class="field">
	  		Introduzca el año de publicación: <%= text_field(:isbninfo, :publish_year, :class => 'round') %>
	</div>
	<div class="field">
	  		Introduzca las páginas del libro: <%= text_field(:isbninfo, :pages, :class => 'round') %>
	</div>
	
	<% if @isbninfo.photo.exists? then %>
		<%= image_tag @isbninfo.photo.url(:small), :class=> 'thumbPhotoIsbn' %>
		Quieres cambiar la foto?
		<%= f.file_field :photo %>
	<% else %>
		<div class="field">
		    Sube la foto del libro
		    <%= f.file_field :photo %>
		</div>
	<% end %>
	
	
	<div class="actions">
	    <%= f.submit %>
	</div>
 
<% end %>