<div class="divBook">
  <div class="izquierda">
    <div class="fotoBook">
      <% if isbninfo.photo.exists? then %>
        <%= image_tag isbninfo.photo.url(:thumb), :class=> 'thumbPhotoIsbnSmall' %>
      <% else %>
        <%= image_tag "nophoto.jpg", :alt => 'isbninfo.title', :class=> 'thumbPhotoIsbnSmall' %>
      <% end %>
    </div>
  </div>
  <div class="derecha">
    <div class="tituloBook">
      <%= link_to isbninfo.title, isbninfo %> de: <%= isbninfo.author %>
    </div>
    <div class="isbnBook">
      ISBN10: <%= isbninfo.isbn10 %>
    </div>
    <div class="isbnBook">
      ISBN13: <%= isbninfo.isbn13 %>
    </div>
    

      <%  if current_user != nil %>

        <% lib = @user_libraries.where(:isbninfo_id => isbninfo.id) %>
        <% if lib.blank? %>
          <%= render 'user_libraries/form', :lIsbnInfoID => isbninfo.id %>
        <% else %>
          <div class="botonAccionInfoUsuario">
              Ya está en mi librería
          </div>
        <% end %>
      <% else %>
          <div class="botonAccionInfoUsuario">
            Tienes que acceder a B2D para coleccionar libros
          </div>
      <% end %>
    
  </div>
</div>
