<div class="divBorder">

  <ul class="basictab">
    <li>
      <a href="#" onclick="ManageTabPanelDisplay('divBorderListadoLibrosBook2Drink')"><%= @totalFoundIsbnInfos  %> libros encontrados en Book2Drink</a>
    </li>
    <li>
      <a onclick="ManageTabPanelDisplay('divBorderListadoLibrosGoogle')" href="#"><%= @libros.total_items %> libros encontrados en internet</a>
    </li>

  </ul>
  <div class="body">

      <div id="divBorderListadoLibrosBook2Drink" class="divBorderListadoLibrosBook2Drink" >
        <div>
        <% @isbninfos.each do |isbninfo| %>
          <%= render isbninfo %>
        <% end %>
      </div>
      <div style="text-align: center;">
        <!--%= will_paginate @isbninfos %-->
        <%= paginate @isbninfos %>
      </div>
    </div>
    <% if @libros.total_items > 0 %>
      <div id="divBorderListadoLibrosGoogle" class="divBorderListadoLibrosGoogle" style="display: none;">
        <div style="text-align: center; ">
          Se han encontrado <%= @libros.total_items %> en internet, te mostramos los primeros.
        </div>
        <div>
          <%= render 'layouts/googlebooks' %>
        </div>
      </div>
    <% else %>
      <div id="divBorderListadoLibrosGoogle" class="divBorderListadoLibrosGoogle" style="display: none;">


        <div class="divBook">
          <div class="izquierda">
            <div class="fotoBook">
              <%= image_tag "book_not_found.jpg", :class=> 'thumbPhotoIsbnSmall', :style => 'padding: 0px 20px 0px 0px;' %>
            </div>
          </div>
          <div class="derecha">
            <div class="tituloBook">
              No se han encontrado libros. Ey tío, busca mejor, ¿qué te crees que soy?
            </div>
          </div>
        </div>
      </div>
    <% end %>



  </div>
</div>
