<p id="notice"><%= notice %></p>
<div class="divBorder">

  <div class="divDatosLibro">
    <div class="cabecera">
      <span><%= @isbninfo.title %></span>
    </div>
    <div class="body">
      <div style="float: left;">

        <% if @isbninfo.photo.exists? then %>
          <%= image_tag @isbninfo.photo.url(:small), :class=> 'thumbPhotoIsbnInfoSmall' %>
        <% else %>
          <%= image_tag "nophoto.jpg", :alt => 'foo', :class=> 'thumbPhotoIsbnInfoSmall' %>
        <% end %>
      </div>

      <ul style="float: right; list-style: none;">

        <% if current_user == nil %>
          <li class="botonAccionInfoLibro">
            <%= link_to "Comentar el libro", new_user_session_path %>
          </li>
          <li class="botonAccionInfoLibro">
            <%= link_to "Añadirlo a tu librería", new_user_session_path %>

          </li>
        
        <% else %>
            
            <%  if @user_library.nil? %>
              <%= render 'user_libraries/form', :lIsbnInfoID => @isbninfo.id %>
            <% else %>
              <li class="botonAccionInfoLibro">
                <%= link_to "Ya está en mi Librería", user_user_libraries_path(current_user) %>
              </li>
            <% end %>
            <!--li class="botonAccionInfoLibro">
              Sugerir a un Amigo
            </li>
          <li class="botonAccionInfoLibro">
            Comprar
          </li-->
        <%end%>
        
      </ul>

      <div style="float: right; width: 360px;">
        <div class="etiquetas">Título: <span><%= @isbninfo.title%></span> de <span><%= @isbninfo.author %></span></div>
        <div class="etiquetas">Editorial: <span><%= @isbninfo.editorial %></span></div>
        <div class="etiquetas">Páginas: <span><%= @isbninfo.pages %></span></div>
        <!--div class="etiquetas">Idioma: <span>FIJO_ESPAÑOL</span></div-->
        <div class="etiquetas">ISBN13/10: <span><%= @isbninfo.isbn13 %></span>, <span><%= @isbninfo.isbn10 %></span></div>
        <div class="etiquetas">Año de publicación: <span><%= @isbninfo.publish_year %></span></div>
        <div class="etiquetas">Añadido por: <span><%= link_to @isbninfo.user.name, @isbninfo.user %></span></div>
      </div>
    </div>
  </div>

  <div class="divDatosLibroSinopsis">
    <div class="cabecera">
      Sinopsis
    </div>
    <div class="body">
      <p><%= @isbninfo.description %> </p>
    </div>
  </div>

  <div class="divDatosLibroComentarios">
    <div class="cabecera">
      Últimos Comentarios
    </div>
    <div class="body">

      <% unless @commentbooks.empty? %>
        <%= render @commentbooks %>
      <% else %>
        Aún no hay comentarios en el libro "<%= @isbninfo.title %>".
      <% end %>
      <% if current_user != nil
        @commentbook = @isbninfo.commentbooks.build
        @commentbook.user = current_user
      %>
        <%= render 'commentbooks/form' %>
      <% end %>
    </div>
  </div>

</div>