<div class="divBorder">
  <div class="divDatosRegistro">

    <div class="cabecera">
      <span>  Quiero entrar en Book2Drink</span>
      <div class="right"><%- if devise_mapping.registerable? && controller_name != 'registrations' %>
          <%= link_to "Quiero crear una nueva cuenta", new_registration_path(resource_name) %><br />
        <% end -%>
      </div>
    </div>

    <div class="body">
      <%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>

        <ul class="field" style="margin-left: 10px; height: 200px">
          <li class="fieldList">
            <%= f.label :email,'Email',:class => 'campoTitulo' %>
            <%= f.email_field :email,:class => 'campoRelleno',:placeholder => 'tu email en book2drink',
              :style => 'float:right; margin-right:60px' %>
          </li>

          <li class="fieldList">
            <%= f.label :password, 'Contraseña' %>
            <%= f.password_field :password, :placeholder => '********' ,:class => 'campoRelleno',
              :style => 'float:right; margin-right:60px' %>
          </li>
          <li class="fieldList" style="float:left; width: 200px; margin-top: 30px">
            <%- if devise_mapping.rememberable? -%>
              <%= f.check_box :remember_me %> <%= f.label :remember_me, 'No cerrar sesión' %><br/>
            <% end %> <br/> <br/>
            <%- if devise_mapping.recoverable? && controller_name != 'passwords' -%>
              <%= link_to "¿Olvidaste tu contraseña?", new_password_path(resource_name) %>
            <% end %>
          </li>
          <li class="fieldList" style="float:right; margin-top: 40px; margin-right:60px">
            <%= f.submit "Entra",:class => 'campoAccion' %>
          </li>

        </ul>



      <% end %>

    </div>

  </div>
  <div id="divEspacio">  </div>
  <div class="divDatosRegistro">
    <div class="cabecera">
      <span>Quiero entrar con mi cuenta de facebook</span>
    </div>

    <div class="body" style="text-align: center">
      <div style="margin-top:25px">
        <%= link_to (image_tag 'fb_login_button.jpg'), user_omniauth_authorize_path(:facebook) %>
      </div>

    </div>

  </div>

</div>