<li>
  <!--%= image_tag "muestras/fotobar1.jpg", :alt => 'foo', :class=> 'thumbPhotoCarouselLocation', :style => '' %-->

<%= link_to image_tag(builder.object.asset.url(:thumb), :class=> 'thumbPhotoCarouselLocation'),builder.object.asset.url(:original) %>
</li>
