<div class="section">
  <%
  if commentbook.user_id
    @user = User.find(commentbook.user_id)
  %>
    <%= link_to @user.username , user_path(@user) %>

  <% else %>
                                  Usuario anónimo
  <% end %>

 		- <%= commentbook.created_at %>: <%= commentbook.commenttext %>	
</div>
