<%= form_for(@commentbook) do |f| %>
  <% if @commentbook.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@commentbook.errors.count, "error") %> prohibited this commentbook from being saved:</h2>

      <ul>
        <% @commentbook.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>



  <br/>
  <div class="etiquetas" style="color: inherit;font-weight: bold; opacity:0.7;"> Deja tu comentario sobre: <%= @isbninfo.title %> </div>
  <%= text_area(:commentbook, :commenttext, :class => 'boxOpinionLibro') %>

  <%= f.hidden_field :isbninfo_id, :value => @commentbook.isbninfo_id %>
  <%= f.hidden_field :user_id, :value => @commentbook.user_id %>

  <%= f.submit "Envía", :class => 'actions' %>


<% end %>
