<h1>Listing commentbooks</h1>

<table>
  <tr>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @commentbooks.each do |commentbook| %>

<tr>
    <td>Comentario: <%= commentbook.commenttext %></td>
  </tr>
  <tr>
    <td><%= link_to 'Destroy', commentbook, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />


<%= link_to "¿Quieres comentar el libro?", new_isbninfo_commentbook_path(@isbninfo) %>

<br/>