<p id="notice"><%= notice %></p>

Isbn del libro: <%= @commentbook.isbninfo_id  %>
Comentario: <%=@commentbook.commenttext %>

<%= link_to 'Edit', edit_commentbook_path(@commentbook) %> |
<%= link_to 'Back', commentbooks_path %>
