#admin_wrapper {
    width: 970px;
    margin: 0px auto;
}

.divMainWrapper {
    text-align: center;
    border: 2px;
    border-color: #C8C8C8;
    border-style: solid;
    -moz-border-radius: 15px;
    border-radius: 15px;
    margin-bottom: 15px;
    height: 75px;
    padding: 10px;
}

.divBloqueAdmin {
    text-align: center;
    border: 2px;
    border-color: #C8C8C8;
    border-style: solid;
    -moz-border-radius: 15px;
    border-radius: 15px;
    margin-bottom: 15px;   
}

