// Place all the styles related to the Events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.imageListadoEventos {
    width: 70px;
    height: 70px;
    margin: 5px 10px 0px 0px;
    float: left;
  }
  .fechaEvento {
    padding: 5px 10px 5px 10px;
    color: white !important;
    background-color: #444;
    -moz-border-radius: 10px;
    border-radius: 10px;
    font-weight: bold;
    font-size: 18px;
    margin: 25px 10px 0px 0px;
    float: left;

  }
  .fechaEvento span {
    color: white !important;
  }

  .listadoEventos {
    margin: 0px; padding: 0px;
  }

  .listadoEventos li {

    margin-bottom:5px;
    background-color:#F4F4F4;
    list-style: none;
    height: 80px;
    padding: 5px;
    border-top-width: 1px;
    border-left-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-color: #C8C8C8;
    border-style: dotted;


  }

  .enlaceEventoBar {
    color: black !important;
    font-size: 14px !important;
    font-weight: bolder !important;

  }