body {
  //.container { text-align: left; width: 960px; margin: 0 auto;	position: relative; }

  text-align: center;
  margin-top:10px;
  margin-bottom:10px;
  color:#666666;
  background-color: #FFFFFF;
}

#page_wrapper {
  margin-left: auto;
  margin-right: auto;
  width: 98%;
  text-align: left;
  background: #FFFFFF;
  border: 8px solid #FFFFFF;
}

#header_wrapper {
  margin:0px; padding:0px;
}

#header {
  height: 60px;
  padding:15px;
  margin:0px;
}

#header h1 {
  margin:0px;
  font-family: verdana, arial, sans-serif;
  font-size: 28px;
  color:#ffffff;
  letter-spacing: -1px;
}

#header h2 {
  margin:0px;
  font-family: verdana, arial, sans-serif;
  font-size: 14px;
  color:#B1C6EB;
  letter-spacing: 1px;
}

#left_side {
  margin-top: 10px;
  float: left;
  width: 160px;
  background: #F1F6FE url('../img/side_bg.gif') bottom left repeat-x;
}

#right_side {
  margin-top: 10px;
  float: right;
  width: 250px;
  background: #F1F6FE url('../img/side_bg.gif') bottom left repeat-x;
}

#content {
  margin-top: 20px;
  margin-bottom: 0px;
  margin-left: 180px;
  margin-right: 180px;
}

#footer {
  height: 50px;
  clear: both;
  text-align: center;
  padding-top:12px;
  font-family: verdana, arial, sans-serif;
  font-size: 11px;
  line-height: 18px;
}

#footer A:link {
	text-decoration: none;
}
#footer A:visited {
	text-decoration: none;
}
#footer A:active {
	text-decoration: none;
}
#footer A:hover {
	text-decoration: underline;
}

#left_side p, #right_side p {
  margin:10px;margin-top:15px;margin-bottom:15px;
  font-family: verdana, arial, sans-serif;
  font-size: 11px;
  line-height: 16px;
  color: #333333;
}

#left_side h3, #right_side h3 {
  margin-top:5px; margin-bottom:10px; margin-left:5px; margin-right:5px;
  padding:4px;
  font-family: verdana, arial, sans-serif;
  font-size: 14px;
  font-weight: bold;
  line-height: 14px;
  color: #FFFFFF;
  border:1px solid #0F3974;
  background-color: #2153AA;
}

#left_side h4, #right_side h4 {
  margin-top:0px;margin-bottom:0px;margin-left:10px;
  font-family: verdana, arial, sans-serif;
  font-size: 12px;
  font-weight: bold;
  line-height: 12px;
  color: #2153AA;
}

#content p {
  margin-top:15px; margin-bottom: 15px;
  font-family: verdana, arial, sans-serif;
  font-size: 12px;
  line-height: 18px;
  color: #333333;
}

#content h3 {
  margin-top:5px; margin-bottom: 10px;
  font-family: verdana, arial, sans-serif;
  font-size: 18px;
  font-weight: bold;
  line-height: 18px;
  color: #2153AA;
}

#content h4 {
  margin-top:0px;margin-bottom:0px;
  font-family: verdana, arial, sans-serif;
  font-size: 14px;
  font-weight: bold;
  line-height: 12px;
  color: #2153AA;
}

#navlist
{
  margin-top:1px;
  margin-bottom:0px;
  text-align:center;
  padding: 5px 0;
  margin-left: 0;
  border-bottom: 1px solid #0F3974;
  font: bold 14px Verdana, sans-serif;
}

#navlist li
{
  list-style: none;
  margin: 0;
  display: inline;
}

#navlist li a
{
  color: #F1F6FE;
  padding: 5px 15px;
  margin-left: 3px;
  border: 1px solid #0F3974;
  border-bottom: none;
  background: #2153AA url('../img/tab_bg.gif') bottom left repeat-x;
  text-decoration: none;
}

#navlist li a:link { color: #F1F6FE; }
#navlist li a:visited { color: #F1F6FE; }

#navlist li a:hover
{
  color: #FFFFFF;
  background: #3364BB;
  border-color: #0F3974;
}

#navlist li a#current
{
  color: #000;
  background: #FFFFFF;
  border-bottom: 1px solid #FFFFFF;
}

.float_left {
  float: left;
  margin-right: 10px;
}

.float_right {
  float: right;
  margin-left: 10px;
}

.featurebox_center {
  background-color: #fffff6;
  margin:0px;
  padding:10px;
  border: 1px solid #DFE8F7;
  font-family: verdana, arial, sans-serif;
  font-size: 11px;
  line-height: 18px;
  color: #333333;
}

.featurebox_side {
  background-color: #fffff6;
  margin:0px;margin-left:10px;margin-right:10px;margin-bottom:15px;
  padding:10px;
  border: 1px solid #DFE8F7;
  font-family: verdana, arial, sans-serif;
  font-size: 11px;
  line-height: 18px;
  color: #333333;
}

.logo_header {

	width: 300px;


}

.logo {
	width: 300px;
	height: 300px;

}

/* Round corners */

.round {
  -moz-border-radius:    10px;
  -webkit-border-radius: 10px;
  border-radius:         10px;
}

.section {

	border: 1px solid #DFE8F7;
  	line-height: 18px;
  	margin: 0px 0px 5px 0px;
}

.thumbPhotoCarouselLocation {
	width: 120px;
	height: 140px;
        padding:1px; border:1px solid black; background-color:white;
}

.thumbPhotoIsbn, .thumbPhotoLocation, .thumbPhotoPromotion, .thumbPhotoEvent {
	width: 180px;
	height: 210px;
	padding: 0px 20px 0px 0px;
}

.thumbPhotoIsbnSmall {
	width: 90px;
	height: 105px;
        padding: 0px 20px 0px 0px;
        padding:1px; border:1px solid black; background-color:white;

}

.thumbPhotoIsbnTiny {
	width: 45px;
	height: 52px;

}

.thumbPhotoUser {
	width: 105px;
	height: 122px;
        padding:1px; border:1px solid black; background-color:white;
}
.usuarioAcciones {
	width: 700px;
	height: 50px;

}
.usuarioAcciones ul li {
	display: inline;
}
.mensajeDestacado {
	font-size: 28px;
	color: blue;
}

.featuredButton {

	 -moz-border-radius:    10px;
	  -webkit-border-radius: 10px;
	  border-radius:         10px;

}

.iconFavorite, .iconWished {
	width: 24px;
	height: 24px;
}

/*INICIO AÑADIDO POR ISIDORO*/
.thumbPhotoIsbnInfoSmall {
	width: 117px;
	height: 163px;
        padding:3px;
        border:1px solid black;
        background-color:white;

}
/*FIN ISIDORO*/