
body {
    margin: 0;
    padding: 0;
    line-height: 1.7em;
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 12px;
    color: #414141;
    background: url(templatmeo_body_top.jpg) repeat-x top;
}

a:link, a:visited {
    /*color: #0066FF;*/
    color: #0F8294;
    text-decoration:none;
    font-weight: normal;
}
a:active, a:hover {

    text-decoration: none;
    opacity:0.7;
}

h1, h2, h3, h4, h5, h6 { margin: 0; padding: 0; }

p { margin: 0px; padding: 0px; }

img { margin: 0px; padding: 0px; border: none; }

.float_l {
    float: left;
}

.float_r {
    float: right;
}

.cleaner { clear: both; width: 100%; height: 0px; font-size: 0px;  }
.cleaner_h20 { clear: both; width:100%; height: 20px; }
.cleaner_h30 { clear: both; width:100%; height: 30px; }
.cleaner_h40 { clear: both; width:100%; height: 40px; }

.more a {
    display: block;
    width: 82px;
    height: 23px;
    padding: 3px 0 0 0;
    background: url(templatemo_button.png) no-repeat;
    color: #777777;
    font-size: 12px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
}

.more a:hover {
    color: #c85d16;
}

#templatmeo_wrapper {
    width: 970px;
    margin: 0px auto;
}

/* header */

#templatemo_header {

    margin: 0;
    height: 150px;
    margin-bottom: 15px;
}



#templatemo_header  #site_title {
    float: left;
    width: 300px;
    text-align: center;

    margin-left: 35px;

}

#templatemo_header  #site_title h1 {
    font-size: 20px;
    color: #0F8294;
    font-weight: bold;
    font-style: italic;
}

#templatemo_header #header_right {
    float: right;
    height: 140px;
    width: 500px;
    text-align: right;
}

#header_right #header_button {
    float: right;
    margin: 0;
    padding: 0;
    list-style: none;
}

#header_button li {
    margin: 0px;
    padding: 0px;
    display: inline;
}

#header_button li a {
    float: left;
    display: block;
    width: 48px;
    height: 48px;
    margin-left: 10px;
}

#header_right form {
    margin: 10px 0 0 0;
    padding: 0;
}

#searchfield {
    height: 18px;
    width: 400px;
    padding: 6px 5px 4px 5px;
    margin: 0 5px 0 0;
    font-size: 12px;
    font-variant: normal;
    line-height: normal;
}

.button_search {
    height: 24px;
    vertical-align:middle;
}

#searchbutton {
    height: 30px;
    width: 72px;
    margin: 0px;
    padding: 6px 0 0 0;
    cursor: pointer;
    font-size: 12px;
    text-align: center;
    vertical-align: bottom;
    white-space: pre;
    color: #ffffff;
    background: url(search_button.jpg);
    border: none;
}

/* end of header */

/* banner */

#templatemo_banner {
    width: 970px;
    height: 280px;
    padding: 10px 0;
}

#templatemo_banner #banner_box ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

#templatemo_banner #banner_box li {
    margin: 0;
    padding: 0;
    display: inline;
}

#templatemo_banner #banner_box li a {
    position: relative;
    display: block;
    float: left;
    width: 230px;
    height: 280px;
    margin-left: 10px;
}

#templatemo_banner #banner_box li span {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    width: 230px;
    height: 217px;
}

#templatemo_banner #banner_box li a span:hover {
    background: url(templatemo_banner_hover.png) no-repeat;
}

#templatemo_banner #banner_box li .current {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    width: 230px;
    height: 217px;
    background: url(templatemo_banner_hover.png) no-repeat;
}
/* end of banner */

/* menu */

#templatemo_menu {
    width: 950px;
    height: 50px;
    padding: 0 10px;
    background: url(templatemo_menu.png) no-repeat center top;
}

#templatemo_menu ul {
    margin: 0px;
    padding: 15px 0 0 15px;
    list-style: none;
}

#templatemo_menu ul li {
    padding: 0px;
    margin: 0px;
    display: inline;
}

#templatemo_menu ul li a {
    float: left;
    display: block;
    margin-right: 40px;
    font-size: 14px;
    text-decoration: none;
    color: #666666;
    font-weight: normal;
    outline: none;
}
#templatemo_menu ul li a:hover {
    color: #009900;
    background-color: transparent;
}

/* end of menu */

.templatemo_box {
    margin-bottom: 10px;
    background: url(templatemo_box_body.jpg) repeat-y right;
}

.templatemo_box .body {
    padding: 5px 15px 5px 15px;
}

.templatemo_box h2 {
    position: relative;
    height: 25px;
    margin: 0;
    padding: 8px 15px;
    font-size: 14px;
    color: #048dc6;
    font-weight: bold;
    background: url(templatemo_box_tr.jpg) no-repeat top right;
}

.templatemo_box h2 span {
    position: absolute;
    width: 40px;
    height: 35px;
    top: 0;
    left: 0;
    background: url(templatemo_box_tl.jpg);
}

.templatemo_box .box_bottom {
    position: relative;
    height: 25px;
    background: url(templatemo_box_br.jpg) top right;
}

.templatemo_box .box_bottom span {
    position: absolute;
    width: 40px;
    height: 25px;
    top: -2;
    left: 0;
    background: url(templatemo_box_bl.jpg);
}

.side_menu {
    list-style: none;
    padding: 0px;
    margin: 0 0 0 0;
}

.side_menu li {
    padding: 0;
    margin: 5px 0;
}

.side_menu li a {
    display: block;
    color: #666;
    padding: 0px 15px;
    font-weight: normal;
    text-decoration: none;
    background: url(templatemo_menu_list.png) left center no-repeat;
}

.side_menu li a:hover {
    color: #c85d16;
}

/* content*/

#templatemo_content_wrapper {
    clear: both;

}

#templatemo_left_sidebar {
    float: left;
    margin-right: 10px;
    width: 230px;
}

#templatemo_right_sidebar {
    float: right;
    width: 230px;
}

#templatemo_content {
    float: left;
    width: 725px;
}

.news_image {
    float: left;
    margin: 3px 15px 0 0;
    border: 5px solid #e5e5e5;
}

.news_box {
    clear: both;
    margin-bottom:20px;
}

.news_box h3{
    font-size: 14px;
    margin: 0 0 10px 0;
}

.sidebar_box {
    margin-bottom: 10px;
}

/* footer */

#templatemo_footer_wrapper {
    background: #bfbfbf url(templatemo_footer.jpg) top repeat-x;
}

#templatemo_footer {
    width: 950px;
    padding: 30px 10px;
    margin: 0 auto;
    text-align: center;
    color: #666666;
}

#templatemo_footer a {
    color: #666666;
    font-weight: normal;
}

#templatemo_footer a:hover {
    color: #333333;
    font-weight: normal;
}


#templatemo_footer a:hover {
    text-decoration: none;
}

#templatemo_footer .footer_menu {
    margin: 0 0 10px 0;
    padding: 0px;
    list-style: none;
}

.footer_menu li {
    margin: 0px;
    padding: 0 20px;
    display: inline;
    border-right: 1px solid #666666;
}

.footer_menu .last_menu {
    border: none;
}

/* end of footer */



/* ESTILOS DE BOOK2DRINK */
.divBorder {
    border: 2px;
    border-color: #C8C8C8;
    border-style: solid;
    -moz-border-radius: 15px;
    border-radius: 15px;
    padding: 15px;
    margin-bottom: 15px;
}

.divBorderWithoutPadding {
    border: 2px;
    border-color: #C8C8C8;
    border-style: solid;
    -moz-border-radius: 15px;
    border-radius: 15px;
}

.divButton {
    border: 0.5px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    background-color: #F7F7F7;
}

.divMarginBotton {
    margin-bottom: 15px;
}
.divButton {

    background-color: #F7F7F7;
    display: block;
}


/* ESTILOS PARA EL FORMULARIO DE BÚSQUEDA DE LIBROS */
.divAccionesPrincipales {
    text-align: center;
    border: 2px;
    border-color: #C8C8C8;
    border-style: solid;
    -moz-border-radius: 15px;
    border-radius: 15px;
    margin-bottom: 15px;
    height: 75px;
    padding: 10px;
}
.divAccionesPrincipales ul {
    list-style-type: none;
}
.divAccionesPrincipales li {
    float: left;
}
.divAccionesPrincipales a {
    display: block;
}
#formularioBuscarLibro {
    border: 1px;
    border-color: #C8C8C8;
    background-color: #F7F7F7;
    border-style: solid;
    -moz-border-radius: 15px;
    border-radius: 15px;
    padding: 15px 10px 15px 10px;
    height: 40px;
    width: 57%;
    margin-right: 10px;
    float: left;
}

#textoBuscarLibro {
    background-color: #F7F7F7;
    display: block;
    float: left;
    margin-top: 5px;
    width: 80%;
}

#inputBuscarLibro {
    padding: 0px 10px 0px 10px;
    height: 30px;
    width: 90%;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    background-color: #FFFFFF;
    font-size: 12pt;
}

#buttonBuscarLibro {
    -webkit-appearance: none;
    border: 0px;
    border-color: #C8C8C8;
    border-style: solid;
    background-color: #FFFFCC;

    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;

    -webkit-box-shadow: 0px 0px 5px 2px #C8C8C8;
    -moz-box-shadow: 0px 0px 5px 2px #C8C8C8;
    box-shadow: 0px 0px 5px 2px #C8C8C8;

    height: auto;
    color: #95B3D7;
    font-size: 22px;
    font-weight: bold;
    padding: 10px;
    float: right;
    margin-top: -3px;

    cursor: pointer;
}

#buttonBuscarLibro:hover {
    opacity: 0.7;
}

.botonesPrincipales {
    border: 1px;
    border-color: #C8C8C8;
    border-style: solid;
    -moz-border-radius: 15px;
    border-radius: 15px;
    font-size: 25px;
    font-weight: bold;
    float: right;
    height: 30px;
    background-color: #F7F7F7;
    padding: 20px;
    margin-right: 5px;

}

/* ESTILOS PARA LOS BLOQUES LATERALES */
.bloqueLateral {
    border: 1px;
    border-color: #C8C8C8;
    border-style: solid;
    font-size: 9px;
}
.bloqueLateral .cabecera {
    background-color: #F7F7F7;
    color:  #95B3D7;
    font-size: 14px;
    font-weight: bold;
    text-align: left;
    padding-left: 5px;
    padding-right: 5px;
}

.bloqueLateral .body .book {
    border-top-width: 1px;
    border-left-width: 0px;
    border-right-width: 0px;
    border-bottom-width: 0px;
    border-color: #C8C8C8;
    border-style: dotted;
    padding: 5px;
}
.bloqueLateral .body .book p {
    font-size: 10px;
    color:  #95B3D7;
}

/* ESTILOS PARA LA CABECERA Y EL LOGIN */
#spanQuieroRegistrarme {
    text-decoration: underline;
    color:  #95B3D7;
    padding-right: 40px;
}

#buttonLogin {
    border: 0px;
    border-color: #C8C8C8;
    border-style: solid;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;

    -webkit-box-shadow: 0px 0px 5px 2px #C8C8C8;
    -moz-box-shadow: 0px 0px 5px 2px #C8C8C8;
    box-shadow: 0px 0px 5px 2px #C8C8C8;

    font-size: 15px;
    font-weight: bold;
    height: 30px;
    background-color: #FFFFCC;
    color: #95B3D7;
    width: 90px;
    cursor: pointer;
}

#buttonLogin:hover {
    opacity: 0.7;
}

#buttonLoginPassword, #buttonLoginUsuario {
    -moz-border-radius: 15px;
    border-radius: 15px;
    color: #95B3D7;
    background-color: #F7F7F7;
    border: 1px;
    border-style: solid;
    border-color: #C8C8C8;
    padding: 0px 5px 0px 5px;

    height: 25px;
    font-size: 10pt;
    width: 160px;
    margin-right: 15px;
}

#checkRememberMe {
    margin-right: 200px;
    color: #95B3D7;
    font-size: 8pt;

}

#buttonRememberPassword {
    text-decoration: underline;
    color: #95B3D7;
    font-size: 7pt;

}

.divFooter {
    text-align: center;
    border: 2px;
    border-color: #C8C8C8;
    border-style: solid;
    -moz-border-radius: 15px;
    border-radius: 15px;
    margin-bottom: 15px;
    height: 50px;
    padding-left: 10px;
}

.divFooter ul {
    list-style-type: none;
}
.divFooter li {
    float: left;
}
.divFooter a {

    color: #95B3D7;
    font-size: 9pt;
    margin-left: 10px;

}

#copyRight {
    float: left;
    margin-right: 40px;
    font-weight: bold;
}


/* ESTILOS DE LA PÁGINA DE INICIO */
.divInvitacionUsuario {
    background: url(homeB2D.jpg) left center no-repeat;
    height: 380px;
}

#mensajeBienvenida {
    width: 400px;
    float: right;
    position: relative;

}

#mensajeBienvenida_texto {
    margin-right: 50px;
    text-align: center;
    width: 300px;
    height: 100px;
    margin-top: 40px;
    float: right;
}

#mensajeBienvenida_texto p {
    color: #C00000;
    font-size: 10pt;
    margin-bottom: 5px;
}

#mensajeBienvenida_button {
    border: 0px;
    border-color: #C8C8C8;
    border-style: solid;

    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;

    -webkit-box-shadow: 0px 0px 5px 2px #C8C8C8;
    -moz-box-shadow: 0px 0px 5px 2px #C8C8C8;
    box-shadow: 0px 0px 5px 2px #C8C8C8;

    font-weight: bold;
    font-size: 22px;
    float: right;
    height: 28px;
    background-color: #FFFFCC;
    padding: 15px 20px 15px 20px;
    margin-top: 120px;
    margin-right: 60px;

    cursor: pointer;
}


#mensajeBienvenida_comofunciona {

    margin-top: 55px;
    float: right;
}

/* ESTILOS PARA LA ZONA DE INFORMACIÓN DEL USUARIO */
.divMisDatos {
    border: 1px;
    border-color: #C8C8C8;
    border-style: solid;
    font-size: 9px;
    height: 160px;
}
.divMisDatos .cabecera {
    background-color: #F7F7F7;
    color:  #95B3D7;
    font-size: 14px;
    font-weight: bold;
    text-align: left;
    padding-left: 5px;
    padding-right: 5px;
}

.divMisDatos .cabecera a {
    color: inherit;
    font-weight: inherit;
    font-size: 12px;
    text-align: right;
    float: right;

}
.divMisDatos .cabecera span {
    font-weight: bolder;
    font-size: 16px;
}


.divMisDatos .body {
    padding: 5px;
    border-top-width: 1px;
    border-left-width: 0px;
    border-right-width: 0px;
    border-bottom-width: 0px;
    border-color: #C8C8C8;
    border-style: dotted;
}

#divFotoUsuario {
    margin-left: 20px;
}

#divUserNameUsuario {
    text-align: right;
    font-weight: bold;
    font-size: 12px;
}
#divNameSurnameUsuario {
    padding-left: 30px;
    color: #06F;
    background: url(user_name.gif) left center no-repeat;
    font-size: 12px;
    margin-bottom: 10px;
}
#divEmailUsuario {
    padding-left: 30px;
    color: #06F;
    background: url(user_mail.gif) left center no-repeat;
    font-size: 12px;
    margin-bottom: 10px;
}
#divLocationUsuario {
    padding-left: 30px;
    color: #06F;
    background: url(user_bar.gif) left center no-repeat;
    font-size: 12px;
    margin-bottom: 10px;
}
#divCiudadUsuario {
    padding-left: 30px;
    color: #06F;
    background: url(user_city.gif) left center no-repeat;
    font-size: 12px;
}

.botonAccionInfoUsuario, .botonAnadirLibroGoogle {
    text-align: center;
    color: #0066FF;
    border: 1px;
    border-color: #C8C8C8;
    border-style: solid;

    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;

    -webkit-box-shadow: 0px 0px 5px 2px #c8c8c8;
    -moz-box-shadow: 0px 0px 5px 2px #c8c8c8;
    box-shadow: 0px 0px 5px 2px #c8c8c8;

    font-size: 12px;
    font-weight: bold;
    background-color: #F7F7F7;
    padding: 5px;
    margin-bottom: 10px;

    cursor: pointer;
}

#botonAñadeLibro {
    list-style: none;
    text-align: center;
    border: 1px;
    border-color: #C8C8C8;
    border-style: solid;

    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;

    -webkit-box-shadow: 0px 0px 5px 2px #c8c8c8;
    -moz-box-shadow: 0px 0px 5px 2px #c8c8c8;
    box-shadow: 0px 0px 5px 2px #c8c8c8;

    font-weight: bold;
    background-color: #F7F7F7;
    padding: 5px;

    cursor: pointer;
    color: #0066FF;
}


#botonAñadeLibro:hover, .botonAnadirLibroGoogle:hover {
    opacity: 0.7;
}

.botonAccionInfoUsuario a {

    display: block;
    color: inherit;
    font-size: inherit;
    font-weight: inherit;
    text-align: center;
}

/* ESTILOS PARA LA ZONA DE ACTIVIDADES DEL USUARIO */
.divMisActividades {
    border: 1px;
    border-color: #C8C8C8;
    border-style: solid;
    font-size: 9px;
}
.divMisActividades .cabecera {
    background-color: #F7F7F7;
    color:  #95B3D7;
    font-size: 14px;
    font-weight: bold;
    text-align: left;
    padding-left: 5px;
    padding-right: 5px;
}

.divMisActividades .cabecera a {
    color: inherit;
    font-weight: inherit;
    font-size: 12px;
    text-align: right;
    float: right;

}
.divMisActividades .cabecera span {
    font-weight: bolder;
    font-size: 16px;
}

.divMisActividades .body .activity {
    border-top-width: 1px;
    border-left-width: 0px;
    border-right-width: 0px;
    border-bottom-width: 0px;
    border-color: #C8C8C8;
    border-style: dotted;
    padding: 5px;
}

.divMisActividades .body .activity p {
    font-size: 10px;
    color:  #95B3D7;
    overflow: hidden;
}

/* ESTILOS PARA EL LISTADO DE LIBROS */
.divBorderListadoLibrosBook2Drink, .divBorderListadoLibrosGoogle {
    border-left-width: 1px;
    border-bottom-width: 1px;
    border-right-width: 1px;
    border-top-width: 0px;
    border-color: #C8C8C8;
    border-style: solid;
    border-radius: 0px 0px 15px 15px;
    padding: 15px;
    margin-bottom: 15px;
    overflow: hidden;
}
.divBook {
    border: 1px;
    border-color: #C8C8C8;
    border-style: solid;
    font-size: 9px;
    float: left;
    margin: 10px;
    padding: 5px;
    width: 295px;
}

.divUser {
    border: 1px;
    border-color: #C8C8C8;
    border-style: solid;
    font-size: 9px;
    float: left;
    margin: 10px;
    padding: 5px;
    width: 45%;
}

.botonAniadirLibreria {
    border: 1px;
    border-color: #C8C8C8;
    border-style: solid;
    -moz-border-radius: 10px;
    border-radius: 10px;
    font-size: 12px;
    font-weight: bold;
    background-color: #F7F7F7;
    padding: 5px;
    margin-bottom: 10px;
}
.botonAniadirLibreria a {
    display: block;
    color: inherit;
    font-size: inherit;
    font-weight: inherit;
    text-align: center;
}

.divBook .izquierda, .divUser .izquierda  {
    float: left;
}

.divBook .derecha, .divUser .derecha {
    float: right;
    width: 180px;
}

.basictab {

    border-bottom: 1px solid #C8C8C8;
    padding: 3px 0;
    margin: 0px;
    list-style-type: none;
    text-align: left; /*set to left, center, or right to align the menu as desired*/

}

.basictab li{
    display: inline;
    margin: 0;
}

.basictab li a, .basictab li spam {
    text-decoration: none;
    padding: 3px 7px;
    margin-right: 3px;

    border: 1px solid #C8C8C8;
    border-left-width: 1px;
    border-bottom-width: 0px;
    border-right-width: 1px;
    border-top-width: 1px;
    border-radius: 05px 05px 0px 0px;

    background-color: #f6ffd5;
    color: #2d2b2b;
}

.basictab li a:visited{
    color: #2d2b2b;
}

.basictab li a:hover{
    background-color: #DBFF6C;
    color: black;
}

.basictab li a:active{
    color: black;
}

.basictab li.selected a{ /*selected tab effect*/
                         position: relative;
                         top: 1px;
                         padding-top: 4px;
                         background-color: #DBFF6C;
                         color: black;
}


/* ESTILOS PARA LA INFORMACIÓN DE UN LIBRO - ISIDORO */
.divBorder {
    border: 2px;
    border-color: #C8C8C8;
    border-style: solid;
    -moz-border-radius: 15px;
    border-radius: 15px;
    padding: 15px;
    margin-bottom: 15px;
}

.divBorder .divDatosLibro {
    border: 1px;
    border-color: #C8C8C8;
    border-style: solid;
    font-size: 12px;
    min-height: 240px;
    
}



.divBorder .divDatosLibro .cabecera {
    background-color: #F7F7F7;
    color:  #95B3D7;
    font-size: 14px;
    font-weight: bold;
    text-align: left;
    padding-left: 5px;
    padding-right: 5px;
}

.divBorder .divDatosLibro .cabecera a {
    color: inherit;
    font-weight: inherit;
    font-size: 12px;
    text-align: right;
    /* float: right; */

}
.divBorder .divDatosLibro .cabecera span {
    font-weight: bolder;
    font-size: 16px;
}


.divBorder .divDatosLibro .body {
    padding: 5px;
    border-top-width: 1px;
    border-left-width: 0px;
    border-right-width: 0px;
    border-bottom-width: 0px;
    border-color: #C8C8C8;
    border-style: dotted;

}

.divBorder .divDatosLibro .body .etiquetas {
    color:#c8c8c8;
}

.divBorder .divDatosLibro .body .etiquetas span {
    font-weight: bold;
    color:#0066FF;

}

.divBorder .divDatosLibro .body .botonAccionInfoLibro, .botonAccionInfoLibro {

    margin-bottom: 10px;
    border: 1px;
    border-color: #C8C8C8;
    border-style: solid;
    text-align: center;
    list-style: none;

    -webkit-border-radius: 10px; /*determina el radio de curva para exploradores como Safari, Opera y Google Chrome. */
    -moz-border-radius: 10px; /*determina el radio de curva para el Mozilla Firefox*/
    border-radius: 10px; /*determina el radio de curva para Internet Explorer (8 Final y 9 Beta)*/

    /* INVESTIGAR para crear sombras */
    -webkit-box-shadow: 0px 0px 5px 2px #c8c8c8;
    -moz-box-shadow: 0px 0px 5px 2px #c8c8c8;
    box-shadow: 0px 0px 5px 2px #c8c8c8;


    font-size: 12px;
    font-weight: bold;
    background-color: #F7F7F7;
    padding: 2px;
    cursor: pointer;


}
.divBorder .divDatosLibro .body .botonAccionInfoLibro a{
    font-weight: bold;

}
.divBorder .divDatosLibro .body .botonAccionInfoLibro:hover {
    opacity:0.7;
}


.divBorder .divDatosLibroSinopsis {
    border: 1px;
    border-color: #C8C8C8;
    border-style: solid;
    font-size: 12px;
    height: auto;
    margin-top: 30px;
}
.divBorder .divDatosLibroSinopsis .cabecera {
    background-color: #F7F7F7;
    color:  #95B3D7;
    font-size: 14px;
    font-weight: bold;
    text-align: left;
    padding-left: 5px;
    padding-right: 5px;
}

.divBorder .divDatosLibroSinopsis .cabecera a {
    color: inherit;
    font-weight: inherit;
    font-size: 12px;
    text-align: right;
    float: right;

}
.divBorder .divDatosLibroSinopsis .cabecera span {
    font-weight: bolder;
    font-size: 16px;
}

.divBorder .divDatosLibroSinopsis .body {
    padding: 5px;
    border-top-width: 1px;
    border-left-width: 0px;
    border-right-width: 0px;
    border-bottom-width: 0px;
    border-color: #C8C8C8;
    border-style: dotted;
}


.divBorder .divDatosLibroComentarios {
    border: 1px;
    border-color: #C8C8C8;
    border-style: solid;
    font-size: 12px;
    height: auto;
    margin-top: 30px;
}
.divBorder .divDatosLibroComentarios .cabecera {
    background-color: #F7F7F7;
    color:  #95B3D7;
    font-size: 14px;
    font-weight: bold;
    text-align: left;
    padding-left: 5px;
    padding-right: 5px;
}

.divBorder .divDatosLibroComentarios .cabecera a {
    color: inherit;
    font-weight: inherit;
    font-size: 12px;
    text-align: right;
    float: right;

}
.divBorder .divDatosLibroComentarios .cabecera span {
    font-weight: bolder;
    font-size: 16px;
}

.divBorder .divDatosLibroComentarios .body {
    padding: 5px;
    overflow: hidden;
    border-top-width: 1px;
    border-left-width: 0px;
    border-right-width: 0px;
    border-bottom-width: 0px;
    border-color: #C8C8C8;
    border-style: dotted;
}

.divBorder .divDatosLibroComentarios .body .boxOpinionLibro {
    width: 680px;
    height: 70px;
    padding-left: 5px;
    border-color: #c8c8c8;
    -moz-border-radius:    10px;
    -webkit-border-radius: 10px;
    border-radius:         10px;
}

.divBorder .divDatosLibroComentarios .body .actions {
    font-weight: bold;
    margin:15px 0px 0px 260px;
    width: 120px;
    height: 40px;
    font-size: 20px;
    border: 1px;
    border-color: #C8C8C8;
    border-style: solid;
    color: #0066FF;

    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    background-color: #FFFFCC;
    padding: 2px 2px 2px 5px;

    -webkit-box-shadow: 0px 0px 5px 2px #C8C8C8;
    -moz-box-shadow: 0px 0px 5px 2px #C8C8C8;
    box-shadow: 0px 0px 5px 2px #C8C8C8;
    cursor: pointer;
}

.divBorder .divDatosLibroComentarios .body .etiquetas {
    color:#c8c8c8;
}

/* ESTILOS PARA LA ZONA DE INFORMACIÓN PÚBLICA DE UN USUARIO - ISIDORO*/
.divDatosPublicosUsuario {
    border: 1px;
    border-color: #C8C8C8;
    border-style: solid;
    font-size: 9px;
    height: 160px;
}
.divDatosPublicosUsuario .cabecera {
    background-color: #F7F7F7;
    color:  #95B3D7;
    font-size: 14px;
    font-weight: bold;
    text-align: left;
    padding-left: 5px;
    padding-right: 5px;
}

.divDatosPublicosUsuario .cabecera a {
    color: inherit;
    font-weight: inherit;
    font-size: 12px;
    text-align: right;
    float: right;

}
.divDatosPublicosUsuario .cabecera span {
    font-weight: bolder;
    font-size: 16px;
}


.divDatosPublicosUsuario .body {
    padding: 5px;
    border-top-width: 1px;
    border-left-width: 0px;
    border-right-width: 0px;
    border-bottom-width: 0px;
    border-color: #C8C8C8;
    border-style: dotted;
}

#divFotoUsuario {
    margin-left: 20px;
}

#divUserNameUsuario {
    text-align: right;
    font-weight: bold;
    font-size: 12px;
}
#divNameSurnameUsuario {
    padding-left: 20px;
    color: #06F;
    background: url(user_name.gif) left center no-repeat;
    font-size: 12px;
    margin-bottom: 10px;
}
#divEmailUsuario {
    padding-left: 20px;
    color: #06F;
    background: url(user_mail.gif) left center no-repeat;
    font-size: 12px;
    margin-bottom: 10px;
}
#divLocationUsuario {
    padding-left: 20px;
    color: #06F;
    background: url(user_bar.gif) left center no-repeat;
    font-size: 12px;
    margin-bottom: 10px;
}
#divCiudadUsuario {
    padding-left: 20px;
    color: #06F;
    background: url(user_city.gif) left center no-repeat;
    font-size: 12px;
}
.divDatosPublicosUsuario .body .botonAccionInfoUsuarioPublico {
    border: 1px;
    border-color: #C8C8C8;
    border-style: solid;
    padding: 0px;
    color:#666666;

    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;

    -webkit-box-shadow: 0px 0px 5px 2px #c8c8c8;
    -moz-box-shadow: 0px 0px 5px 2px #c8c8c8;
    box-shadow: 0px 0px 5px 2px #c8c8c8;

    font-size: 12px;
    font-weight: bold;
    background-color: #F7F7F7;
    margin:3px 3px 10px 3px;

    text-align: center;
}
.divDatosPublicosUsuario .body .botonAccionInfoUsuarioPublico a {
    display: block;
    color: inherit;
    font-size: inherit;
    font-weight: inherit;
    text-align: center;
}

/*ESTILOS PARA LA VISUALIZACION DE LA LISTA DE LA LIBRERÍA - ISIDORO*/

.divBorderLibreria {
    border: 2px;
    border-color: #C8C8C8;
    border-style: solid;
    -moz-border-radius: 15px;
    border-radius: 15px;
    padding: 15px;
    padding-bottom: 25px;
    margin-bottom: 15px;
}

.divBorderUsers {
    border: 2px;
    border-color: #C8C8C8;
    border-style: solid;
    -moz-border-radius: 15px;
    border-radius: 15px;
    padding: 15px;
    padding-bottom: 25px;
    margin-bottom: 15px;
}


.divBorderLibreria .volver {
    float:right;
    padding-top: 3px;
}
.divLibreria {
    border: 1px;
    border-color: #C8C8C8;
    border-style: solid;
    font-size: 12px;
    /*height: 260px;*/ /*si no se pone el heigth, se mueve dinámicamente*/
}

.divUsers {
    border: 1px;
    font-size: 12px;
    /*height: 260px;*/ /*si no se pone el heigth, se mueve dinámicamente*/
    border-left-width: 1px;
    border-bottom-width: 1px;
    border-right-width: 1px;
    border-top-width: 1px;
    border-color: #C8C8C8;
    border-style: solid;
    border-radius: 0px 0px 15px 15px;
    margin-bottom: 15px;
    overflow: hidden;


}

.divLibreria .cabecera, .divUsers .cabecera {
    background-color: #F7F7F7;
    color:  #95B3D7;
    font-size: 14px;
    font-weight: bold;
    text-align: left;
    padding-left: 5px;
    padding-right: 5px;
    border-top-width: 0px;
    border-left-width: 0px;
    border-right-width: 0px;
    border-bottom-width: 1px;
    border-color: #C8C8C8;
    border-style: dotted;
}

.divLibreria .cabecera .right {
    float: right;
    font-size: 12px;
    color:  #c8c8c8;
}

.divLibreria.cabecera a {
    color: inherit;
    font-weight: inherit;
    font-size: 12px;
    text-align: right;
    float: right;

}
.divLibreria .cabecera span {
    font-weight: bolder;
    font-size: 16px;
}


.divLibreria .body {

    border-top-width: 0px;
    border-left-width: 0px;
    border-right-width: 0px;
    border-bottom-width: 0px;
    border-color: #C8C8C8;
    border-style: dotted;
}

.divLibreria .etiquetas {
    color:#c8c8c8;
}

.divLibreria .etiquetas span  {
    font-weight: bold;
    color:#0066FF;

}

.divLibreria .body .libro {
    overflow: hidden;
    border-top-width: 0px;
    border-left-width: 0px;
    border-right-width: 0px;
    border-bottom-width: 1px;
    border-color: #C8C8C8;
    border-style: dotted;
    padding: 5px;
}

.divLibreria .body .libro span {
    font-size: 16px;
    color: #0000FF;
    font-weight: bold;
    overflow: hidden;
}

.divLibreria .body .libro p {
    font-size: 12px;
    color:  #95B3D7;
    overflow: hidden;
}

.divLibreria .body .libro .divFotoLibreriaUsuario{

    float: left;

}

.divLibreria .body .libro .divLibreriaUsuarioInfoLibro{
    float: right;
    width:360px;
    margin-right: 15px;
}

.divLibreria .body .libro .divLibreriaUsuarioInfoLibro .favoritoLibreriaUsuario {
    overflow: hidden;
    float:left;
    margin-top:45px;
}

.divLibreria .body .libro .divLibreriaUsuarioInfoLibro .deseadoLibreriaUsuario {
    overflow: hidden;
    float:left;
    margin-top: 45px;
    margin-left: 10px;
}

.botonAccionLibreria {
    margin:5px 5px 5px 30px;
    border: 1px;
    border-color: #C8C8C8;
    border-style: solid;
    text-align: center;
    -webkit-border-radius: 10px; /*determina el radio de curva para exploradores como Safari, Opera y Google Chrome. */
    -moz-border-radius: 10px; /*determina el radio de curva para el Mozilla Firefox*/
    border-radius: 10px; /*determina el radio de curva para Internet Explorer (8 Final y 9 Beta)*/

    /* INVESTIGAR para crear sombras */
    -webkit-box-shadow: 0px 0px 5px 5px #C8C8C8;
    -moz-box-shadow: 0px 0px 5px 5px #C8C8C8;
    box-shadow: 0px 0px 5px 5px #C8C8C8;

    font-size: 12px;
    font-weight: bold;
    background-color: #F7F7F7;
    padding: 0px;
    height: 18px;
}
.botonAccionLibreria a {
    display: block;
    color: inherit;
    font-size: inherit;
    font-weight: inherit;
    text-align: center;
}

.estilo_boton {

    font-size: 12px;
    font-weight: bold;
    text-align: center;
    color:#666666;
    padding:0px;
    width: 145px;
    height: 24px;
    border: 1px;
    border-color: #C8C8C8;
    border-style: solid;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    background-color: #F7F7F7;

    -webkit-box-shadow: 0px 0px 5px 2px #C8C8C8;
    -moz-box-shadow: 0px 0px 5px 2px #C8C8C8;
    box-shadow: 0px 0px 5px 2px #C8C8C8;
    cursor: pointer;



}


/* ESTILOS PARA LA ZONA PARA MODIFICAR LOS DATOS DE UN USUARIO - ISIDORO*/


.divModificaProfilo {
    border: 1px;
    min-height: 130px;
    border-color: #C8C8C8;
    border-style: solid;
    font-size: 9px;
    margin-bottom:10px;
}



.divModificaProfilo .cabecera {
    background-color: #F7F7F7;
    color:  #95B3D7;
    font-size: 14px;
    font-weight: bold;
    text-align: left;
    padding-left: 5px;
    padding-right: 5px;
}

.divModificaProfilo .cabecera a {
    color: inherit;
    font-weight: inherit;
    font-size: 12px;
    text-align: right;
    float: right;

}
.divModificaProfilo .cabecera span {
    font-weight: bolder;
    font-size: 16px;
}


.divModificaProfilo .body {
    padding: 5px;
    border-top-width: 1px;
    border-left-width: 0px;
    border-right-width: 0px;
    border-bottom-width: 0px;
    border-color: #C8C8C8;
    border-style: dotted;
    font-size: 12px;
}

.divModificaProfilo .body .cancelaCuenta {
    margin-top: 10px;
}

.divModificaProfilo .body .divModificaDatosUsuario {
    width: 490px;

}

.divModificaProfilo .body .divModificaDatosUsuario .field,  .divModificaProfilo .body .divModificaPassword .field{
    margin-top:20px;
    font-size: 14px;
    color: #0066FF;
    font-weight: bold;

}

.divModificaProfilo .body .divModificaDatosUsuario .field .campoTitulo {

}

.divModificaProfilo .body .divModificaDatosUsuario .field span {
    font-size:12px;
    font-style: italic;
    color:#E90A1B;
}

.divModificaProfilo .body .divModificaDatosUsuario .field .campoRelleno{
    margin-right: 30px;
    float:right;
    width: 240px;
    font-size: 14px;

    border: 1px;
    border-color: #c8c8c8;
    border-style: solid;
    color: #E90A1B;

    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    background-color: #f7f7f7;
    padding: 2px 2px 2px 5px;

    -webkit-box-shadow: 0px 0px 5px 2px #C8C8C8;
    -moz-box-shadow: 0px 0px 5px 2px #C8C8C8;
    box-shadow: 0px 0px 5px 2px #C8C8C8;

}
.divModificaProfilo .body .divModificaDatosUsuario .field .campoAccion{

    
    margin-right: 30px;
    
    /**
    float:right;
    margin-top:30px;
    */
    font-weight: bold;
    width: 220px;
    height: 50px;
    font-size: 20px;
    border: 1px;
    border-color: #C8C8C8;
    border-style: solid;
    color: #0066FF;

    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    background-color: #FFFFCC;
    padding: 2px 2px 2px 5px;

    -webkit-box-shadow: 0px 0px 5px 2px #C8C8C8;
    -moz-box-shadow: 0px 0px 5px 2px #C8C8C8;
    box-shadow: 0px 0px 5px 2px #C8C8C8;
    cursor: pointer;

}
.divModificaProfilo .body .divModificaDatosUsuario .field .campoAccion:hover {
    opacity:0.7;
}

.divModificaProfilo .body .divModificaDatosUsuario .field .campoAnular{
    
    /**
    float:left;
    margin-top:40px;
    */
    margin-right: 30px;
    
    text-align: center;
    font-weight: bold;
    width: 110px;
    height: 20px;
    font-size: 18px;
    border: 1px;
    border-color: #C8C8C8;
    border-style: solid;
    color: #0066FF;

    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    background-color: #FFFFCC;
    padding: 2px 2px 2px 5px;

    -webkit-box-shadow: 0px 0px 5px 2px #C8C8C8;
    -moz-box-shadow: 0px 0px 5px 2px #C8C8C8;
    box-shadow: 0px 0px 5px 2px #C8C8C8;
    cursor: pointer;

}

#divFotoUsuario {
    margin-left: 0px;
    margin-top:0px;
}

#divCambiaFoto {
    border: 1px;
    border-color: #F7F7F7;
    color: #E90A1B;
    border-style: solid;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    background-color: #FFFFFF;
    width: 130px;
}

#divUserNameUsuario {
    text-align: right;
    font-weight: bold;
    font-size: 12px;
}
#divNameSurnameUsuario {
    padding-left: 25px;
    color: #06F;
    background: url(user_name.gif) left center no-repeat;
    font-size: 12px;
    margin-bottom: 10px;
}
#divEmailUsuario {
    padding-left: 25px;
    color: #06F;
    background: url(user_mail.gif) left center no-repeat;
    font-size: 12px;
    margin-bottom: 10px;
}
#divLocationUsuario {
    padding-left: 25px;
    color: #06F;
    background: url(user_bar.gif) left center no-repeat;
    font-size: 12px;
    margin-bottom: 10px;
}
#divCiudadUsuario {
    padding-left: 25px;
    color: #06F;
    background: url(user_city.gif) left center no-repeat;
    font-size: 12px;
}
.botonAccionInfoUsuarioPublico {
    border: 1px;
    border-color: #C8C8C8;
    border-style: solid;
    -moz-border-radius: 10px;
    border-radius: 10px;
    font-size: 12px;
    font-weight: bold;
    background-color: #F7F7F7;
    padding: 5px;
    margin-bottom: 10px;
    text-align: center;
}

.botonAccionInfoUsuarioPublico a {
    display: block;
    color: inherit;
    font-size: inherit;
    font-weight: inherit;
    text-align: center;
}

/* ESTILOS PARA LA ZONA CREAR CUENTA DE UN NUEVO USUARIO - ISIDORO*/
.divDatosRegistro {
    border: 1px;
    border-color: #C8C8C8;
    border-style: solid;
    font-size: 9px;

}

.primerRegistro {
    height: 390px;

}

.divDatosRegistro .cabecera {
    background-color: #F7F7F7;
    color:  #95B3D7;
    font-size: 14px;
    font-weight: bold;
    text-align: left;
    padding-left: 5px;
    padding-right: 5px;
}

.divDatosRegistro .cabecera .right {
    float: right;
    font-size: 10px;
    color:  #666666;
}

.divDatosRegistro .cabecera a {
    color: inherit;
    font-weight: inherit;
    font-size: 10px;
    text-align: right;
    float: right;

}
.divDatosRegistro .cabecera span {
    font-weight: bolder;
    font-size: 16px;
}


.divDatosRegistro .body {

    border-top-width: 1px;
    border-left-width: 0px;
    border-right-width: 0px;
    border-bottom-width: 0px;
    border-color: #C8C8C8;
    border-style: dotted;
    font-size: 12px;
    margin-bottom: 25px;

}

.divDatosRegistro .body .field {

    margin-left: 100px;
    font-size: 16px;
    color: #0066FF;
    font-weight: bold;

}

.divDatosRegistro .body .field .fieldList {
    list-style: none;
    margin-bottom: 30px;
}

.divDatosRegistro .body .field .fieldList span {
    font-size:12px;
    font-weight: normal;
    font-style: inherit;
    color:#0066FF;
    opacity: 0.7;
}

.divDatosRegistro .body .field span {
    font-size:9px;
    font-style: italic;
    color:#E90A1B;
}

.divDatosRegistro .body .field .campoRelleno{
    width: 380px;
    height: 30px;
    font-size: 14px;
    border: 0px;
    border-color: #c8c8c8;

    border-style: solid;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    background-color: #f7f7f7;
    padding: 2px 2px 2px 5px;

    -webkit-box-shadow: 0px 0px 5px 2px #C8C8C8;
    -moz-box-shadow: 0px 0px 5px 2px #C8C8C8;
    box-shadow: 0px 0px 5px 2px #C8C8C8;



}
.divDatosRegistro .body .field .campoAccion{
    font-weight: bold;

    width: 120px;
    height: 40px;
    font-size: 28px;
    border: 0px;
    border-color: #F7F7F7;
    color: #0066FF;
    border-style: solid;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    background-color: #FFFFCC;
    padding: 2px 2px 2px 5px;

    -webkit-box-shadow: 0px 0px 5px 2px #C8C8C8;
    -moz-box-shadow: 0px 0px 5px 2px #C8C8C8;
    box-shadow: 0px 0px 5px 2px #C8C8C8;
    cursor: pointer;
}
.divDatosRegistro .body .field .campoAccion:hover {
    opacity: 0.7;
}

#flechaSelect {
    background: url(flechaSelect.png) no-repeat right #F7F7F7;
    -webkit-appearance:none;
    -moz-appearance:none;
    appearance:none;
    cursor: pointer;
}

#cuadroMensajes {
    margin: 20px auto 40px auto;
    padding: 5px;
    border: 2px;
    border-color: #F7F7F7;
    color: #0066FF;
    border-style: solid;
    background-color: #FFFFCC;
    text-align: center;
    width: 300px;
    height: auto;
    -webkit-box-shadow: 0px 0px 5px 1px #C8C8C8;
    -moz-box-shadow: 0px 0px 5px 1px #C8C8C8;
    box-shadow: 0px 0px 5px 1px #C8C8C8;

}

#divEspacio {
    margin-top: 20px;
}
/*ESTILOS PARA LA VISUALIZACION DE LA LISTA DE LOS BARES - ISIDORO*/

.divBorderBares {
    border: 2px;
    border-color: #C8C8C8;
    border-style: solid;
    -moz-border-radius: 15px;
    border-radius: 15px;
    padding: 15px;
    padding-bottom: 25px;
    margin-bottom: 15px;
}


.divBorderBares .divBares {
    border: 1px;
    border-color: #C8C8C8;
    border-style: solid;
    font-size: 12px;
    height: auto;
}

.divBorderBares .divBares .cabecera {
    background-color: #F7F7F7;
    color:  #95B3D7;
    font-size: 14px;
    font-weight: bold;
    text-align: left;
    padding-left: 5px;
    padding-right: 5px;
    border-top-width: 0px;
    border-left-width: 0px;
    border-right-width: 0px;
    border-bottom-width: 1px;
    border-color: #C8C8C8;
    border-style: dotted;
}

.divBorderBares .divBares .body {
}

.divBorderBares .divBares .body .divBar{
    padding:5px;

    overflow: hidden;
    border-top-width: 0px;
    border-left-width: 0px;
    border-right-width: 0px;
    border-bottom-width: 1px;
    border-color: #C8C8C8;
    border-style: dotted;
}

.divBorderBares .divBares .body .divBar span{
}

/*ESTILOS PARA LA VISUALIZACION DE LA INFORMACIÓN DE UN BAR - ISIDORO*/
.divBorderInfoBar {
    border: 2px;
    border-color: #C8C8C8;
    border-style: solid;
    -moz-border-radius: 15px;
    border-radius: 15px;
    padding: 15px;
    padding-bottom: 25px;
    margin-bottom: 15px;
}


.divBorderInfoBar .divInfoBar {
    border: 1px;
    border-color: #C8C8C8;
    border-style: solid;
    font-size: 12px;
    height: auto;
}

.divBorderInfoBar .divInfoBar .cabecera {
    background-color: #F7F7F7;
    color:  #95B3D7;
    font-size: 14px;
    font-weight: bold;
    text-align: left;
    padding-left: 5px;
    padding-right: 5px;
    border-top-width: 0px;
    border-left-width: 0px;
    border-right-width: 0px;
    border-bottom-width: 1px;
    border-color: #C8C8C8;
    border-style: dotted;
}


.divBorderInfoBar .divInfoBar .body {
    padding:5px;

    overflow: hidden;
    border-top-width: 0px;
    border-left-width: 0px;
    border-right-width: 0px;
    border-bottom-width: 1px;
    border-color: #C8C8C8;
    border-style: dotted;
}

.divBorder .divDatosLibro .body .list_carousel {
    width: 690px;
}
.divBorder .divDatosLibro .body .list_carousel ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: block;
}
.divBorder .divDatosLibro .body .list_carousel li {

    padding: 0;
    margin: 6px;
    display: block;
    float: left;
}

.divBorder .divDatosLibro .body .boxOpinionBar {
    width: 670px;
    height: 70px;
    padding-left: 5px;
    border-color: #c8c8c8;
    -moz-border-radius:    10px;
    -webkit-border-radius: 10px;
    border-radius:         10px;
}

/** ESTILOS PARA LA WEB DEL BAR */
.urlWeb {
    text-align: center; float: left; width: 100%; margin-top: 5px;
    color: #c8c8c8;
    font-weight: bold;   
}

#urlWebEnlace {
    color: rgb(3, 170, 23);
    font-weight: bold;
}



/**DEPRECATED */
.divBorderInfoBar .divInfoBar .body .clearfix {
    float: none;
    clear: both;
}

.divBorderInfoBar .divInfoBar .body span.etiquetas{

    color:#c8c8c8;
}

.divBorderInfoBar .divInfoBar .body span{
    font-weight: bold;
    color:#0066FF;
}

.divBorderInfoBar .divInfoBar .body .detallesBar {
    list-style: none;
    float: right;
    width: 450px;
}

.divBorderInfoBar .divInfoBar .body .detallesBar .lineaDetalleBar {
    margin-left: -20px;
}

.divBorderInfoBar .divInfoBar .body .detallesBar .lineaDetalleBar span.etiqueta {
    font-style: normal;
    font-weight: normal;
    color:#c8c8c8;
    float: left;
    width: 70px;
}

.divBorderInfoBar .divInfoBar .body .detallesBar .lineaDetalleBar span.dato {
    margin-left: 40px;
}

.divBorderInfoBar .divInfoBar .body .boxOpinionBar {
    width: 680px;
    height: 70px;
    padding-left: 5px;
    border-color: #c8c8c8;
    -moz-border-radius:    10px;
    -webkit-border-radius: 10px;
    border-radius:         10px;
}

.divBorderInfoBar .divInfoBar .body .actions {
    font-weight: bold;
    margin:15px 0px 0px 260px;
    width: 120px;
    height: 40px;
    font-size: 20px;
    border: 1px;
    border-color: #C8C8C8;
    border-style: solid;
    color: #0066FF;

    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    background-color: #FFFFCC;
    padding: 2px 2px 2px 5px;

    -webkit-box-shadow: 0px 0px 5px 2px #C8C8C8;
    -moz-box-shadow: 0px 0px 5px 2px #C8C8C8;
    box-shadow: 0px 0px 5px 2px #C8C8C8;
    cursor: pointer;
}
/**END DEPRECATED */

#actions {
    font-weight: bold;
    margin:15px 0px 0px 260px;
    width: 120px;
    height: 40px;
    font-size: 20px;
    border: 1px;
    border-color: #C8C8C8;
    border-style: solid;
    color: #0066FF;

    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    background-color: #FFFFCC;
    padding: 2px 2px 2px 5px;

    -webkit-box-shadow: 0px 0px 5px 2px #C8C8C8;
    -moz-box-shadow: 0px 0px 5px 2px #C8C8C8;
    box-shadow: 0px 0px 5px 2px #C8C8C8;
    cursor: pointer;
}

.clearfix {
    float: none;
    clear: both;
}

#prev, #next {
    background: transparent url(/assets/img/carousel_control.png) no-repeat 0 0;
    display: block;
    overflow: hidden;
    width: 15px;
    height: 21px;
    margin-left: 10px;
    top: 70px;
}

.prev {
    background-position: 0 0;
    left: -30px;
}
.prev:hover {
    left: -31px;
}

#next {
    background-position: -18px 0;
    right: -20px;
}
.next:hover {
    right: -21px;
}

#pager {
    text-align: center;
    margin: 0 auto;
}
.pager a {
    background: transparent url(/assets/img/carousel_control.png) no-repeat -2px -32px;
    text-decoration: none;
    text-indent: -999px;
    display: inline-block;
    overflow: hidden;
    width: 8px;
    height: 8px;
    margin: 0 5px 0 0;
}
.pager a.selected {
    background: transparent url(/assets/img/carousel_control.png) no-repeat -12px -32px;
    text-decoration: underline;
}

/** ESTILOS PARA LOS BARES EN EL MAPA GOOGLEMAPS */
.gmLocation {
    border: 1px;
    border-color: #C8C8C8;
    border-style: solid;
    font-size: 9px;
    float: left;
    margin: 10px;
    padding: 5px;
}

/** ESTILOS PARA LOS EVENTOS */
.imageListadoEventos {
    width: 70px;
    height: 70px;
    margin: 5px 10px 0px 0px;
    float: left;
  }
  .fechaEvento {
    padding: 5px 10px 5px 10px;
    color: white !important;
    background-color: #444;
    -moz-border-radius: 10px;
    border-radius: 10px;
    font-weight: bold;
    font-size: 18px;
    margin: 25px 10px 0px 0px;
    float: left;

  }
  .fechaEvento span {
    color: white !important;
  }

  .listadoEventos {
    margin: 0px; padding: 0px;
  }

  .listadoEventos li {

    margin-bottom:5px;
    background-color:#F4F4F4;
    list-style: none;
    height: 80px;
    padding: 5px;
    border-top-width: 1px;
    border-left-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-color: #C8C8C8;
    border-style: dotted;


  }

  .enlaceEventoBar {
    color: black !important;
    font-size: 14px !important;
    font-weight: bolder !important;

  }

  /*
    CÓMO FUNCIONA. PREZZI
  */
.divPrezzi {
      text-align: center;
}

.divPrezzi div {
      margin-bottom: 25px;
}


#mensajeBienvenida_button_prezzi {
    border: 0px;
    border-color: #C8C8C8;
    border-style: solid;

    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;

    -webkit-box-shadow: 0px 0px 5px 2px #C8C8C8;
    -moz-box-shadow: 0px 0px 5px 2px #C8C8C8;
    box-shadow: 0px 0px 5px 2px #C8C8C8;

    font-weight: bold;
    font-size: 22px;

    height: 28px;
    background-color: #FFFFCC;
    padding: 15px 20px 15px 20px;

    margin-bottom: 10px;
    cursor: pointer;
}