	<% @booksReaded = current_user.books_readed_by_users %>
	(Libros leídos: <%= @booksReaded.count %>)
	
		<%= libro.title %>
	
	
		<% if @booksReaded.count > 0 %>
			
			Ya has leído este libro. Mira los libros que has leído 
			<%= link_to "aquí", user_books_readed_by_users_path(current_user.id)%>
		
		<% 
			else 
				@books_readed_by_user = current_user.books_readed_by_users.build
				@books_readed_by_user.isbninfo_id = @isbninfo.id
		%>				
		
			<%= form_for(@books_readed_by_user) do |f| %>
			  <% if @books_readed_by_user.errors.any? %>
			    <div id="error_explanation">
			      <h2><%= pluralize(@books_readed_by_user.errors.count, "error") %> prohibited this books_readed_by_user from being saved:</h2>
			
			      <ul>
			      <% @books_readed_by_user.errors.full_messages.each do |msg| %>
			        <li><%= msg %></li>
			      <% end %>
			      </ul>
			    </div>
			  <% end %>
			
				<%= f.hidden_field :user_id, :value => @books_readed_by_user.user_id %>
				<%= f.hidden_field :isbninfo_id, :value => @books_readed_by_user.isbninfo_id %>
				
				¿Lo has leído? Apúntalo a tu biblioteca personal <%= f.submit %>
			
			<% end %>
	
	<% end %>	