<div class="templatemo_box">
	<h2><span></span>Listado de libros de la red social que ha leído el usuario <%= @user.name %></h2>
    
    <div class="body">
    	<div class="usuarioAcciones">
    	<ul>

			<table border="1">
			  <tr>
			    <th>Nombre del libro</th>
			    <th>Acciones</th>
			  </tr>
			
			<% @books_readed_by_users.each do |books_readed_by_user| %>
			  <tr>
			    <td><%= books_readed_by_user.isbninfo_id %></td>
			    <td><%= link_to 'Borrar de la lista', books_readed_by_user, confirm: 'Are you sure?', method: :delete %></td>
			  </tr>
			<% end %>
			</table>
	    	
	    	</ul>
	    </div>
    
    <%= render 'partials/link_back' %>
    </div>
    
	<div class="box_bottom"><span></span></div>
</div>
	 