<%= form_for(@promotion) do |f| %>
  <% if @promotion.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@promotion.errors.count, "error") %> prohibited this promotion from being saved:</h2>

      <ul>
      <% @promotion.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<div class="templatemo_box">
	<h2><span></span>Crear promoción</h2>
    
    	<div class="body">

				 <div class="field">
							    Nombre de la promoción: <%= f.text_field :name %>
				 </div>
					 <div class="field">
							    Descripción de la promoción:
							    <%= f.text_field :description %>
				 </div>
				 <div class="field">
							    Imágen de la promoción.
							    <% if @promotion.photo.exists? then %>
									<%= image_tag @promotion.photo.url(:small), :class=> 'thumbPhotoPromotion' %>
									Quieres cambiar la foto?
									<%= f.file_field :photo %>
								<% else %>
									<div class="field">
									    Sube la foto del libro
									    <%= f.file_field :photo %>
									</div>
								<% end %> 
				 </div>
				 <div class="field">
							    Promoción activa. Aquí irá un combo true o false. (Poner siempre a 1) <br />
							    <%= f.text_field :active %>
				 </div>
				 <div class="field">
							    Fecha de comienzo de la promoción. (Aquí irá un campo fecha)<br />
							    <%= f.datetime_select :begin_date %>
				 </div>
				 <div class="field">
							    Fecha fin de la promoción. (Aquí irá un campo fecha)<br />
							    <%= f.datetime_select :end_date %>
				 </div>
				 <div class="field">
							    Bar. (Aquí metemos siempre el 1 o el 2. Cuando esté en producción este campo no deberá estar)<br />
							    <%= f.text_field :location_id %>
				 </div>
			
			
			  <div class="actions">
			    <%= f.submit %>
			  </div>

	    </div>
	<div class="box_bottom"><span></span></div>
	</div>


<% end %>
