<div class="templatemo_box">
    	<h2><span></span>Listado de libros</h2>
        <div class="body">

			<% @promotions.each do |promotion| %>
				
				<div class="section">
			  		<table>
							<tr>
								<td rowspan="4">
									<% if promotion.photo.exists? then %>
										<%= image_tag promotion.photo.url(:thumb), :class=> 'thumbPhotoPromotion' %>
									<% else %>
										<%= image_tag "nophoto.jpg", :alt => 'foo', :class=> 'thumbPhotoPromotion' %>
									<% end %>
								</td>
								<td>
									<%= link_to promotion.name, promotion %>
										
							</tr>
							<tr><td>Descripción: <%= promotion.description %></td></tr>
							<tr><td>Fecha de inicio de la promoción: <%= promotion.begin_date %></td></tr>
							<tr><td>Fecha final de la promoción: <%= promotion.end_date %></td></tr>
							
					</table>
			  	</div>
			<% end %>
			
		</div>
		
		<%= render 'partials/link_back' %>
		<div class="box_bottom"><span></span></div>
</div>