<p id="notice"><%= notice %></p>
<div class="templatemo_box">
    	<h2><span></span><%= @promotion.name %></h2>
        <div class="body">

			<table>
				<tr>
					<td rowspan="4">
						<% if @promotion.photo.exists? then %>
							<%= image_tag @promotion.photo.url(:small), :class=> 'thumbPhotoPromotion' %>
						<% else %>
							<%= image_tag "nophoto.jpg", :class=> 'thumbPhotoPromotion' %>
						<% end %>
					</td>
				</tr>
				<tr><td>Descripción de la promoción: <%= @promotion.description %></td></tr>
				<tr><td>Fecha de inicio de la promoción: <%= @promotion.begin_date %></td></tr>
				<tr><td>Fecha fin de la promoción: <%= @promotion.end_date %></td></tr>
				<tr><td>
						<% @location = @promotion.location %>
						Bar:<%= @location.name %></div>
				</td></tr>
				
			</table>
			
		</div>
		
		<%= render 'partials/link_back' %>
		<div class="box_bottom"><span></span></div>
</div>