<div class="section">
  <%
  if commentlocation.user_id
    @user = User.find(commentlocation.user_id)
  %>
    <%= link_to @user.username , user_path(@user) %>

  <% else %>
    Usuario anónimo
  <% end %>

 		- <%= commentlocation.created_at %>: <%= commentlocation.commenttext %>	
</div>
