<%= form_for(@commentlocation) do |f| %>
  <% if @commentlocation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@commentlocation.errors.count, "error") %> prohibited this commentlocation from being saved:</h2>

      <ul>
        <% @commentlocation.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <br/>
  <div class="etiquetas" style="font-weight: bold; opacity:0.7;"> Comparte tu opinión sobre "<%= @location.name %>": </div>
  <%= text_area(:commentlocation, :commenttext, :class => 'boxOpinionBar') %>



  <%= f.hidden_field :location_id, :value => @commentlocation.location_id %>
  <%= f.hidden_field :user_id, :value => @commentlocation.user_id %>




  <%= f.submit "Envía", :id => 'actions' %>

<% end %>
