<h1>Listing commentlocations</h1>

<table>
  <tr>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @commentlocations.each do |commentlocation| %>
  <tr>
    <td><%= link_to 'Show', commentlocation %></td>
    <td><%= link_to 'Edit', edit_commentlocation_path(commentlocation) %></td>
    <td><%= link_to 'Destroy', commentlocation, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Commentlocation', new_commentlocation_path %>
