
<%= form_for(@user_session) do |f| %>
  <% if @user_session.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user_session.errors.count, "error") %> prohibited this user_session from being saved:</h2>

      <ul>
      <% :user_session.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div>
  	<%= text_field(:user_session, :username, :value => 'Usuario', :class => 'round') %>
  	<%= password_field(:user_session,  :password, :class => 'round', :value => 'Contraseña') %>
  	<%= f.submit %>
  </div>
<% end %>
