<%= form_for @location, :html => { :multipart => true } do |f| %>

  <% if @location.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@location.errors.count, "error") %> prohibited this location from being saved:</h2>

      <ul>
        <% @location.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="templatemo_box">
    <h2><span></span>Crear promoción</h2>

    <div class="body">


      <div class="field">Nombre del bar:  <%= text_field(:location, :name, :class => 'round') %></div>
      <div class="field">Descripción del bar: <%= text_field(:location, :description, :class => 'round') %></div>
      <div class="field">Teléfono del local: <%= text_field(:location, :local_phone, :class => 'round') %></div>
      <div class="field">Horario: <%= text_field(:location, :schedule, :class => 'round') %></div>
      <div class="field">Aforo: <%= text_field(:location, :capacity, :class => 'round') %></div>
      <div class="field">Especialidad: <%= text_field(:location, :specialty, :class => 'round') %></div>

      <div class="field">Persona de contacto: <%= text_field(:location, :contact_name, :class => 'round') %></div>
      <div class="field">Teléfono de contacto: <%= text_field(:location, :contact_phone, :class => 'round') %></div>
      <div class="field">Email de propietario: <%= text_field(:location, :contact_email, :class => 'round') %></div>

      <div class="field">Dirección: <%= text_field(:location, :address, :class => 'round') %></div>
      <div class="field">Latitud: <%= text_field(:location, :latitude, :class => 'round') %></div>
      <div class="field">Longitud: <%= text_field(:location, :longitude, :class => 'round') %></div>

      <div class="field">Bus info: <%= text_field(:location, :bus_info, :class => 'round') %></div>
      <div class="field">Metro info: <%= text_field(:location, :metro_info, :class => 'round') %></div>
      <div class="field">Web: <%= text_field(:location, :web, :class => 'round') %></div>
      <div class="field">Ciudad a la que pertenece (<%= @location.city_type_id %>):
        <%= select("location", "city_type_id", CityType.all.collect {|p| [ p.name, p.id ] }, {:prompt => 'Selecciona tu ciudad'}) %>
      </div>

      <div class="field">
        <% if @location.photo.exists? then %>
          <%= image_tag @location.photo.url(:small), :class=> 'thumbPhotoLocation' %>
          Quieres cambiar la foto?
          <%= f.file_field :photo %>
        <% else %>
          <div class="field">
            Sube la foto del bar
            <%= f.file_field :photo %>
          </div>
        <% end %>


      </div>

      <%=  f.fields_for :assets do |builder| %>
        <% if builder.object.new_record?  %>
          <div class="field">
            <%= builder.file_field :asset %>
          </div>
        <% end %>
      <% end %>

      <%=  f.fields_for :assets do |builder| %>
        <% unless builder.object.new_record? %>
          <%= link_to image_tag(builder.object.asset.url(:thumb)),builder.object.asset.url(:original) %>
        <%end%>
      <% end %>
      <div class="actions">
        <%= f.submit %>
      </div>
    </div>
  </div>
<% end %>
