<div class="divBorderBares">
  <div class="divBares">
    <div class="cabecera">
      Encuentra tu café en el mapa
    </div>
    <div class="body">
      <%= gmaps4rails(@locationMaps) %>
    </div>
  </div>
  <div id="divEspacio">  </div>
  <div class="divBares">
    <div class="cabecera">
      Búscalo en la lista de cafés de Book2Drink
    </div>
    <div class="body">
      <% @locations.each do |location| %>
        <div class="divBar">
          <span>
            <%= link_to location.name, location %> <br/>
            <%= location.address %> -
            <%= location.local_phone %> -
            <% city_type = CityType.find(location.city_type_id) %><%= city_type.name %> -
            <%= link_to 'Eventos', location_events_path(location) %> -
            
          </span>

        </div>
      <% end %>

    </div>
  </div>

</div>