<p id="notice"><%= notice %></p>
<div class="divBorder">
  <div class="divDatosLibro" >
    <div class="cabecera">
      <span><%= @location.name %></span>
    </div>
    <div class="body">
      <div style="float: left; width: 20%;">
        <% if @location.photo.exists? then %>
          <%= image_tag @location.photo.url(:small), :class=> 'thumbPhotoIsbnInfoSmall',
          %>
        <% else %>
          <%= image_tag "nophoto.jpg", :alt => 'foo', :class=> 'thumbPhotoIsbnInfoSmall',
            :style => 'padding: 10px 0px 0px 0px' %>
        <% end %>
      </div>

      <div style="float: right; width: 78%; z-index: 0;">
        <div style="position: relative; float: right; margin-right: 10px;">
          <ul>
            <% if current_user == nil %>
              <li class="botonAccionInfoLibro" style="width: 160px;">
                <%= link_to "Comentar el café", new_user_session_path %>
              </li>
              <li class="botonAccionInfoLibro" style="width: 160px;">
                <%= link_to "Ver los eventos del café", new_user_session_path %>
              </li>
            <% else %>
              <li class="botonAccionInfoLibro" style="width: 160px;">
                <%= link_to "Ver los eventos del café", location_events_path(@location) %>
              </li>
            <%  end %>
          </ul>
        </div>

        <% @city_type = CityType.find(@location.city_type_id) %>

        <div class="etiquetas">Ciudad: <span><%= @city_type.name %></span></div>
        <div class="etiquetas">Dirección: <span><%= @location.address %></span></div>
        <div class="etiquetas">Teléfono: <span><%= @location.local_phone %></span></div>
        <div class="etiquetas">Horario: <span><%= @location.schedule %></span></div>
        <div class="etiquetas">Aforo: <span><%= @location.capacity %></span></div>
        <div class="etiquetas">Especialidad: <span><%= @location.specialty %></span></div>
        <div class="etiquetas">Descripción: <span><%= @location.description %></span></div>
      </div>
      <% if @location.web != nil %>
      <div class="urlWeb" >Web del bar: <%= link_to @location.name, @location.web, :target => "_blank", :id => 'urlWebEnlace' %></div>
      <% end %>
      

    </div>
  </div>
  <div id="divEspacio"></div>
  <div class="divDatosLibro" style="height: auto;">
    <div class="cabecera">
      Fotos de "<%=  @location.name %>"
    </div>

    <div class="body">
      <div class="list_carousel" >
        <ul id="foo2">

          <% @location.assets.each do |image| %>
            <li><%= link_to image_tag(image.asset.url(:small), :class=> 'thumbPhotoCarouselLocation'),image.asset.url(:original) %></li>
          <% end %>

        </ul>
      </div>
      <div style="width: 100%; overflow: hidden; text-align: center;">
        <div id="pager2" class="pager"></div>
      </div>
    </div>
  </div>
  <div id="divEspacio"></div>
  <div class="divDatosLibro">
    <div class="cabecera">
      Opiniones de usuarios
    </div>
    <div class="body">

      <% unless @commentlocations.empty? %>

        <%= render @commentlocations %>

      <% else %>
        ¿Deja el primer comentario sobre "<%= @location.name %>".
      <% end %>
      <% if current_user != nil
        @commentlocation = @location.commentlocations.build
        @commentlocation.user = current_user
      %>
        <%= render 'commentlocations/form' %>
      <% end %>

    </div>
  </div>

</div>