<div class="divMarginBotton">
  <%= image_tag "nightlife.png", :class => '.divBorderWithoutPadding' %>
</div>
<div class="divMarginBotton">
<%= image_tag "city-zoo.png", :class => '.divBorderWithoutPadding' %>
</div>