<div id="footer">
	<a href="#">Busca un libro</a> | 
	<a href="#">Dona un libro</a> | 
	<%= link_to "Buscar un bar", locations_path%> | 
	<a href="#">¿Eres un bar?</a> | 
	<a href="#">¿Cómo funciona?</a> | 
	<a href="#">¿Quiénes somos?</a> | 
	<a href="#">Contacto</a> | 
	<a href="#">Blog</a> |
	<a href="#">F.A.Q.</a> |
	<a href="#">Condiciones de Uso</a> |
	<a href="#">privacidad</a>
</div>



