<%= yield :scripts %>
<div class="divFooter">
  <div style="text-align: center;">
    <span id="copyRight">© Book2Drink 2013. All rights reserved.</span>
    <ul>
      <li><a href="#">Blog</a></li>
      <li><a href="#">¿Eres un bar?</a></li>
      <li><%= link_to '¿Cómo funciona?', tour_url %></li>
      <li><%= link_to 'Condiciones de uso', "https://s3-eu-west-1.amazonaws.com/book2drinkpro/AVISOLEGAL+Y+PRIVACIDAD.pdf", target: "_blank"%></li>
      <li><a href="#">Privacidad</a></li>
      <li><a href="#">¿Quiénes somos?</a></li>
      <li class="last_menu"><a href="#">Contacto</a></li>
    </ul>
  </div>
</div>

