<% @libros.each do |libro| %>

  <%

  if (libro.isbn_10.to_s != "" && libro.isbn_13.to_s != "")
    b2dBook = Isbninfo.where("isbn10 = ? OR isbn13 = ?", libro.isbn_10, libro.isbn_13)
  else
    b2dBook = Isbninfo.where("isbn10 = ?", libro.isbn_10)
  end
%>
  <% if (libro.isbn_10 != nil && libro.isbn_10.length == 10) %>
    <div class="divBook">
      <div class="izquierda">
        <div class="fotoBook">
          <% if libro.image_link != nil then %>
            <%= image_tag libro.image_link, :class=> 'thumbPhotoIsbnSmall' %>
          <% else %>
            <%= image_tag "nophoto.jpg", :alt => 'isbninfo.title', :class=> 'thumbPhotoIsbnSmall' %>
          <% end %>
        </div>
      </div>
      <div class="derecha">
        <div class="tituloBook">
          <% if b2dBook != nil && !b2dBook.blank? %>
            <%= link_to b2dBook.first.title, b2dBook.first %>
          <% else  %>
            <%= libro.title %> de <%= libro.authors %>
          <% end  %>
        </div>
        <div class="isbnBook">
          ISBN13: <%=  libro.isbn_13 %>
        </div>
        <div class="isbnBook">
          ISBN10: <%=  libro.isbn_10 %>
        </div>

        <% if current_user %>
          <% if !b2dBook.blank? %>
            <% b2dBook = b2dBook.first
            result = current_user.user_libraries.where(:isbninfo_id => b2dBook.id).first
            if result != nil && !result.blank?
            %>
              <div class="botonAccionInfoUsuario">
                Ya está en mi librería
              </div>
            <% else %>
              <%= render 'user_libraries/form', :lIsbnInfoID => b2dBook.id %>
            <% end %>
          <% else %>
            <%= form_tag "/isbninfos/addtobooks" do %>
              <%= hidden_field_tag "isbn13book", libro.isbn_13 %>
              <%= hidden_field_tag "isbn10book", libro.isbn_10 %>
              <%= hidden_field_tag "title", libro.title %>
              <%= hidden_field_tag "authors", libro.authors %>
              <%= hidden_field_tag "editorial", libro.publisher  %>
              <%= hidden_field_tag "published_date", libro.published_date %>
              <%= hidden_field_tag "page_count", libro.page_count %>
              <%= hidden_field_tag "description", libro.description %>
              <%= hidden_field_tag "image_link", libro.image_link %>
              <%= submit_tag "Añadir a mi librería virtual", :class => "botonAnadirLibroGoogle" %>
            <% end %>
          <% end %>

        <% else %>
          <div class="botonAccionInfoUsuario">
            Tienes que acceder a B2D para coleccionar libros
          </div>
        <% end %>
      </div>
    </div>
  <% end %>
<% end %>









