<div id="templatemo_header" class="divBorder">

  <div id="site_title">
    <a href="http://www.book2drink.com" target="_parent">
      <%= image_tag "logo_header.png", :class => 'logo_header' %>
    </a>
    <h1>Lee, Comparte, Disfruta</h1>
  </div>

  <div id="header_right">
    <!-- BLOQUE CONEXION DEVISE -->
    <%- if user_signed_in? %>
      <div style="text-align: center; margin-bottom: 15px;">

        <%= "¡ Bienvenido, #{current_user.username} !" %> |
        <%= link_to "Inicio", root_path%> |
        <%= link_to "Librería virtual",  user_libraries_path%> |


        <%= link_to "Modificar perfil", edit_user_registration_path%> |
        ¿No eres tú? <%= link_to "Salir", destroy_user_session_path, :method => :delete %>

        <% if is_admin %>
          <%= link_to "Administración", admin_console_url %> |
        <% end %>
      </div>
    <%- else %>
      <div style="text-align: center; margin-bottom: 25px;">
        <span id="spanQuieroRegistrarme"><%= link_to 'Soy nuev@ y quiero registrarme', new_user_registration_path %></span>
        <%= link_to (image_tag 'fb_login_button.jpg', :style => 'vertical-align: text-top'), user_omniauth_authorize_path(:facebook) %>

      </div>
    
      <%= form_tag user_session_path, :action => "post" do %>
        <div style="text-align: center; margin-bottom: 15px;">

          <%= email_field_tag 'user[email]',
            nil,
            :placeholder => '  Correo electrónico',
            :id => "buttonLoginUsuario",
            :maxlength => 200 %>
          <%= password_field_tag 'user[password]',
            nil,
            :placeholder => '  Contraseña',
            :id => "buttonLoginPassword",
            :maxlength => 200 %>
          <%=  submit_tag 'Entra',
            :id => "buttonLogin" %>
        </div>
        <div style="text-align: center;">
          <%= check_box_tag 'user[remember_me]',
            :id => "checkRememberMe"%>
          <%= label_tag 'user[remember_me]', 'Recuérdame',
            :id => "checkRememberMe" %>
          <%= link_to "He olvidado mi contraseña",
            new_user_password_path,
            :id => "buttonRememberPassword" %>
        </div>
      <% end %>
    <%- end %>
  </div>

  <!-- FIN BLOQUE -->


</div> <!-- end of templatemo_header -->