<div id="header_wrapper">

	<div id="header">
		
		<div id="headerLogo" class="float_left" >
			<%= link_to (image_tag "logo_header.jpg" , :class => 'logo'), root_url%>
		</div>	
		
		<div id="headerLogin" class="float_right">
			<% if current_user %>
				Hola <%= current_user.name %> <%=current_user.surname %> (<%=current_user.id %>).
				<%= link_to "Edit profile", edit_user_path(current_user.id)%> |
				<%= link_to "Logout", logout_path%>
			<% else %>
				<%= link_to "Register", new_user_path%> | 
				<%= link_to "Login", login_path%>
			<% end %>
		</div>
		
	</div>
	
	<div id="navcontainer">
		<ul id="navlist">
			<li id="active"><a href="#" id="current">Item one</a></li>
			<li><a href="#">Número de libros</a></li>
			<li><%= link_to "Buscar un bar", locations_path%></li>
			<li><a href="#">Item four</a></li>
			<li><a href="#">Item five</a></li>
		</ul>
	</div>

</div>
