<div class="divBorder divPrezzi">
  <div style="margin-bottom: 5px;">
    <iframe src="http://prezi.com/embed/gog0i2j9xx6k/?bgcolor=ffffff&amp;lock_to_path=0&amp;autoplay=no&amp;autohide_ctrls=0&amp;features=undefined&amp;disabled_features=undefined"
            width="620"
            height="400"
            frameBorder="0">
    </iframe>

  </div>
  <div>
    <%= link_to 'Ver en versión texto', "https://s3-eu-west-1.amazonaws.com/book2drinkpro/B2D_como_funciona.pdf", target: "_blank" %>
  </div>


  <div>
    <%= link_to 'REGÍSTRATE GRATIS',
      new_user_registration_path,
      :id => 'mensajeBienvenida_button_prezzi' %>
  </div>

</div>
