<div class="templatemo_box">
	<h2><span></span>Últimos libros liberados</h2>
    
    <div class="body">
    
    	
        <ul class="side_menu">
	    	<% listReleasedBooks.each do |release| %>
					<li><%= link_to "Usuario " + release.title, release %></li>
			<% end %>
        </ul>
      
    </div>
	<div class="box_bottom"><span></span></div>
</div>