<div class="templatemo_box">
	<h2><span></span>Últimos libros donados</h2>
    
    <div class="body">
    
    	
        <ul class="side_menu">
	        <% listDonatedBooks.each do |donated| %>
					<li><%= link_to "Usuario " + donated.title, donated %></li>
			<% end %>
        </ul>
      
    </div>
	<div class="box_bottom"><span></span></div>
</div>