<div class="divBorder">
  <div class="bloqueLateral">
    <div class="cabecera">Últimos libros registrados</div>
    <div class="body" >
      <%lastBooksRegistered.each do |book| %>
        <div class="book">
          <p style="overflow: hidden;">

            <% if book.photo.exists? then %>
              <%= image_tag book.photo.url(:small), :class=> 'thumbPhotoIsbnTiny' , :style => 'padding: 0px 5px 0px 0px; float: left' %>
            <% else %>
              <%= image_tag "nophoto.jpg", :class=> 'thumbPhotoIsbnTiny', :style => 'padding: 0px 5px 0px 0px; float: left' %>
            <% end %>

            <% if book.user != nil %>
              <%= link_to book.user.username, book.user %> agregó
            <% end %>
            <%= link_to book.title, book %> 
          </p>
        </div>
      <% end %>

    </div>
  </div>
</div>

