<div class="templatemo_box">
	<h2><span></span>Últimos eventos</h2>
    
    <div class="body">
    	
    	<ul class="side_menu">
	    	<% lastEvents.each do |event| %>
	    	<% location = Location.find(event.location_id) %>
			<li><%= event.event_date %><%= link_to location.name + event.name, event %></li>
		<% end %>
        
        </ul>
      
    </div>
	<div class="box_bottom"><span></span></div>
</div>