<div id="right_side">
	
			<p>
				Últimos libros liberados
				<div class='featurebox_side'>
					<% listReleasedBooks.each do |release| %>
							<li><%= link_to "Usuario " + release.title, release %></li>
					<% end %>
				</div>
			</p>
			
			<p>
				Últimos libros donados
				<div class="featurebox_side">
					<% listDonatedBooks.each do |donated| %>
							<li><%= link_to "Usuario " + donated.title, donated %></li>
					<% end %>
				</div>				
			</p>
			
			<p>
				Últimos eventos programados
				<div class='featurebox_side'>
					<% lastEvents.each do |event| %>
						<li><%= link_to "Usuario " + event.title, event %></li>
					<% end %>
				
				</div>
			</p>
			
</div>