<div id="formularioBuscarLibro">
  <%= form_tag("/isbninfos",  :method => "get") do %>
    <div id="textoBuscarLibro">
      <%= text_field_tag :search,
        nil,
        :placeholder => 'Busca tu libro por ISBN, título o autor...',
        :id => "inputBuscarLibro",
        :maxlength => 200 %>
    </div>
    <div>
      <%= submit_tag "Buscar", :id => 'buttonBuscarLibro' %>
    </div>
  <% end %>
</div>