<div class="divBorder divPrezzi">
  <div style="margin-bottom: 5px;">
    <iframe width="620" height="400" src="https://www.youtube.com/embed/NKIr2XvrED0?rel=0" frameborder="0" allowfullscreen></iframe>
    </iframe>

  </div>
  <div>
    <%= link_to 'Ver en versión texto', "https://s3-eu-west-1.amazonaws.com/book2drinkpro/B2D_como_funciona.pdf", target: "_blank" %>
  </div>


  <div>
    <%= link_to 'REGÍSTRATE GRATIS',
      new_user_registration_path,
      :id => 'mensajeBienvenida_button_prezzi' %>
  </div>

</div>
