<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <!-- Meta Data -->
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Book 2 Drink</title>
    <meta name="keywords" content="city portal, 3 columns, free css templates, website templates, white color" />
    <meta name="description" content="City Portal is a 3-column free website template for everyone" />

    <!-- Link to Style External Sheet -->
    <%= stylesheet_link_tag "style" %>
    <%= stylesheet_link_tag "templatemo_style" %>
    <%= stylesheet_link_tag "admin_style" %>
    <%= stylesheet_link_tag 'gmaps4rails' %>
    <%= javascript_include_tag "panels_styles" %>
    <%= javascript_include_tag "gmaps4rails/gmaps4rails.base.js?body=1" %>
    <%= javascript_include_tag "gmaps4rails/gmaps4rails.bing.js?body=1" %>
    <%= javascript_include_tag "gmaps4rails/gmaps4rails.googlemaps.js?body=1" %>
    <%= javascript_include_tag "gmaps4rails/gmaps4rails.mapquest.js?body=1" %>
    <%= javascript_include_tag "gmaps4rails/gmaps4rails.openlayers.js?body=1" %>
    <%= javascript_include_tag :defaults %>
    <%= csrf_meta_tag %>
    <%= javascript_include_tag "jquery" %>
    <%= javascript_include_tag "jquery.carouFredSel-5.2.3-packed" %>
    <%= javascript_include_tag "jquery_ujs" %>
  </head>
  <body>
    <div id="admin_wrapper">
      <%= render 'layouts/header' %>
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
      <div class="divBorder">
        <p><h1>Módulo de administración de Book2Drink</h1></p>
      </div>
      <%= yield %>
    </div>


  </body>

</html>