<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">

  <head>

    <!-- Meta Data -->
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>book2drink.com - La red social de lectores y bares para leer, compartir y disfrutar de la lectura.</title>
    <meta name="keywords" content="libro,libros,descargar libros,red social de libros,bookaffinity,sinopsis de libros,cultura,lectura,recomendaciones de libros,literatura, autor,novela,narrativa,cafetería literaria,bar,eventos,bar literario,libros más vendidos,librería,librería online,humanidades,arte,teatro,literatura,filosofía,eventos culturales,actividades culturales,promoción,promociones,libros online,epub,pdf,adobe,digital,novela,entrevistas,entrevistas a escritores,noticias." />
    <meta name="description" content="Red social de lectores que comparten la pasión por la lectura. B2D tiene como misión poner en contacto a lectores, autores, cafés-librería y editoriales. Promueve actividades y eventos culturales." />
    <link rel="shortcut icon" href="assets/logo_16x16.ico"/>
    <script language="javascript" type="text/javascript">

      function clearText(field)
      {
        if (field.defaultValue == field.value) field.value = '';
        else if (field.value == '') field.value = field.defaultValue;
      }

      function ManageTabPanelDisplay() {
          var idlist = new Array(
          'divBorderListadoLibrosGoogle',
          'divBorderListadoLibrosBook2Drink');

          // No other customizations are necessary.
          if(arguments.length < 1) { return; }
          for(var i = 0; i < idlist.length; i++) {
            var block = false;
            for(var ii = 0; ii < arguments.length; ii++) {
              if(idlist[i] == arguments[ii]) {
                block = true;
                break;
              }
            }
            if(block) { document.getElementById(idlist[i]).style.display = "block"; }
            else { document.getElementById(idlist[i]).style.display = "none"; }
          }
       }


    </script>
    <!-- Link to Style External Sheet -->
    <%= stylesheet_link_tag "style" %>
    <%= stylesheet_link_tag "templatemo_style" %>
    <%= stylesheet_link_tag 'gmaps4rails' %>

    <%= javascript_include_tag "gmaps4rails/gmaps4rails.base.js?body=1" %>
    <%= javascript_include_tag "gmaps4rails/gmaps4rails.bing.js?body=1" %>
    <%= javascript_include_tag "gmaps4rails/gmaps4rails.googlemaps.js?body=1" %>
    <%= javascript_include_tag "gmaps4rails/gmaps4rails.mapquest.js?body=1" %>
    <%= javascript_include_tag "gmaps4rails/gmaps4rails.openlayers.js?body=1" %>
    <%= javascript_include_tag "carousel.js?body=1" %>

    <%= javascript_include_tag "application" %>
    <%= javascript_include_tag :defaults %>

    <%= javascript_include_tag "jquery.js?body=1" %>
    <%= javascript_include_tag "jquery.carouFredSel-5.2.3-packed.js?body=1" %>
    <%= javascript_include_tag "jquery_ujs" %>

    <%= csrf_meta_tag %>


<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-37604551-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>



  </head>

  <body>
    <%= render '/facebook/facebook_initializers' %>
    <div id="templatmeo_wrapper">

      <%= render 'layouts/header' %>

      <!--div id="templatemo_banner"></div>
      <div id="templatemo_menu"></div-->

      <div id="templatemo_content_wrapper">

        <div class="divAccionesPrincipales">
          <%= render 'layouts/searchbook' %>

          <div id="botonBares">
            <%= link_to "Cafés",
              locations_path,
              :class => 'botonesPrincipales' %>
          </div>
          <div id="botonLibros">
            <%= link_to "Libros",
              isbninfos_url,
              :class => 'botonesPrincipales' %>
          </div>
          <div id="botonInicio">
            <%= link_to "Lectores",
              users_url,
              :class => 'botonesPrincipales' %>
          </div>
        </div>
        <div id="templatemo_content">
          <!--
          <p class="notice"><%= notice %></p>
          <p class="alert"><%= alert %></p>
          -->
          <%= yield %>
        </div> <!-- end of templatemo_content -->

        <div id="templatemo_right_sidebar">

          <%= render '/facebook/facebook_fanbox' %>
          <%= render 'layouts/last_registered_books' %>
          
        </div> <!-- end of right_ sidebar -->

        <div class="cleaner"></div>

      </div> <!-- end of templatemo_content_wrapper -->
      <%= render 'layouts/footer' %>
    </div> <!-- end of templatemo_wrapper -->

  </body>


</html>