<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>

<!-- Meta Data -->
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<meta name="description" content="Short description of your site here." />
<meta name="keywords" content="keywords, go, here, seperated, by, commas" />


<!-- Site Title -->
<title>Book 2 Drink</title>
<%= csrf_meta_tag %>
    <!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]--> 


<!-- Link to Style External Sheet -->
<%= stylesheet_link_tag "style" %>
<%= stylesheet_link_tag "application" %>
<%= javascript_include_tag "jquery" %>
<%= javascript_include_tag "jquery.carouFredSel-5.2.3-packed" %>

</head>

<body>

<div id="page_wrapper">

	<%= render 'layouts/header' %>

	<div id="left_side">
	
			<h3>Menú de la izquierda</h3>
			<p>
			Parte de la izquierda <a href="#">nominavi</a> 
			</p>
			
			<div class='featurebox_side'>
				Lorem <a href="#">ipsum summo</a> nominavi pri et. Stet eruditi 
				perfecto at sed, ad enim constituto deseruisse quo, mea no quem 
				eros munere. 
			</div>
	
	</div>
	
	<%= render 'layouts/right_sidebar' %>
	
	<div id="content">
	
	<h3>AQUÍ VA EL CAMPO DE BÚSQUEDA DE LIBROS</h3>
	
	<%= yield %>
	
	
		<p>
			Lorem ipsum summo nominavi pri et. Stet eruditi perfecto at sed, ad 
			enim constituto deseruisse quo, mea no quem eros munere. Ad splendide 
			quaerendum per, ea minimum officiis oportere vel, an has perpetua percipitur. 
			Consequat contentiones his te, id noster menandri his. Per partem perfecto eu, 
			est soluta accusata ex.
			</p>
			
			<p>
			Lorem ipsum summo <a href="#">nominavi</a> pri et. Stet eruditi perfecto at 
			sed, ad enim constituto deseruisse quo, mea no quem eros munere. Ad 
			splendide quaerendum per, ea minimum officiis oportere vel, an has 
			perpetua percipitur. Consequat <a href="#">contentiones</a> his te, id 
			noster menandri his. Per partem perfecto eu, est soluta accusata ex.
			</p>
			
			<h3>Center Content Title</h3>
			
			<p>
			Consequat contentiones his te, id noster menandri his. Per partem perfecto 
			eu, est soluta accusata ex. Lorem ipsum summo nominavi pri et. Stet eruditi 
			perfecto at sed, ad enim constituto deseruisse quo, mea no quem eros munere. 
			Ad splendide quaerendum per, ea minimum <a href="#">officiis</a> oportere 
			vel, an has perpetua percipitur. Consequat contentiones his te, id noster 
			menandri his. Per partem perfecto eu, est soluta accusata ex.
			</p>
			
			<p>
			Lorem ipsum summo nominavi pri et. Stet eruditi perfecto at sed, ad enim 
			constituto deseruisse quo, mea no quem eros munere. Ad splendide quaerendum 
			per, ea <a href="#">minimum officiis</a> oportere vel, an has perpetua 
			percipitur. Consequat contentiones his te, id noster menandri his. Per partem 
			perfecto eu, est soluta accusata ex. Lorem ipsum summo nominavi pri et. Stet 
			eruditi perfecto at sed, ad enim constituto <a href="#">deseruisse</a> quo, 
			mea no quem eros munere. Ad splendide quaerendum per, ea minimum officiis 
			oportere vel, an has perpetua percipitur. Consequat contentiones his te, 
			id <a href="#">noster menandri</a> his. Per partem perfecto eu, est soluta 
			accusata ex.
			</p>
			
	</div>

</div>

<%= render 'layouts/footer' %>

</body>

</html>